<apex:component controller="LocalBillingCreateTelcoController" allowDML="true">
	<apex:form > 
        <apex:pageMessages ></apex:pageMessages>
        <apex:actionstatus id="fetchStatus">
            <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;height:100%;opacity:0.65;width:100%;"> 
                <div class="waitingHolder" style="width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">Loading...</span>
                </div>
            </div>
            </apex:facet>
        </apex:actionstatus>
        <apex:pageBlock >
        	<apex:actionFunction name="populateDE" action="{!fetchDE}" status="fetchStatus" reRender="pbsFields,one,two"/>
            <apex:pageBlockSection title="Create Telco File" columns="1" id="pbsMain">
                <apex:pageBlockSectionItem >
                	<apex:selectList value="{!strPrintDigital}" id="Trans" size="1">
	                    <apex:selectOption itemValue="None" itemLabel="--Select--"/>
	                    <apex:selectOption itemValue="Print" itemLabel="Print"/>
	                    <apex:selectOption itemValue="Digital" itemLabel="Digital"/>
	                    <apex:actionSupport event="onchange" action="{!clearDatas}" status="fetchStatus" reRender="pbsFields,opCreateTelcoPrint,opCreateTelcoDigi,one,two"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>                
            </apex:pageBlockSection>
            <apex:outputPanel id="pbsFields">
	            <apex:pageBlockSection title="" columns="1" rendered="{!if(strPrintDigital == 'None', false,true )}">
	            	<apex:pageBlockSectionItem >
	                    <apex:outputLabel value="Bill prep Date"></apex:outputLabel>
	                    <apex:inputField value="{!objDummy.Date__c}" id="billdate" onblur="populateDE();" />
	                </apex:pageBlockSectionItem>
	                <apex:pageBlockSectionItem rendered="{!if(strPrintDigital == 'Print', true, false)}">
	                    <apex:outputLabel value="Directory Edition"></apex:outputLabel>
	                    <apex:outputPanel >
	                    	<apex:selectList value="{!strSelectedDirectoryEdition}" multiselect="false" size="1">
	                            <apex:selectOptions value="{!lstDirectoryEdition}"/>
	                        </apex:selectList>
	                        &nbsp;&nbsp;<apex:commandButton value="Go" action="{!clickGoPrint}" reRender="opCreateTelcoPrint,one,two" status="fetchStatus"/>
	                    </apex:outputPanel>
	                </apex:pageBlockSectionItem>
	                <apex:pageBlockSectionItem rendered="{!if(strPrintDigital == 'Digital', true, false)}">
	                    <apex:outputLabel value="Billing Entity"></apex:outputLabel>
	                    <apex:outputPanel >
	                        <apex:selectList value="{!strSelectedBillingEntity}" multiselect="false" size="1">
	                            <apex:selectOptions value="{!lstBillingEntity}"/>
	                        </apex:selectList>
	                        &nbsp;&nbsp;<apex:commandButton value="Go" action="{!clickGoDigital}" reRender="opCreateTelcoDigi,one,two" status="fetchStatus"/>
	                    </apex:outputPanel>
	                </apex:pageBlockSectionItem>
	            </apex:pageBlockSection>
            </apex:outputPanel>
            <apex:outputPanel id="opCreateTelcoPrint">
                <apex:pageBlockSection title="" columns="1" id="pbsCreateTelcoPrint" rendered="{!bShowCreateTelcoPrint}">
                    <apex:panelGrid columns="2" width="75%">
                        <apex:panelGroup >
                            <apex:commandButton value="Create & Send Telco File" status="fetchStatus" action="{!createTelcoFilePrint}" disabled="{!!objDEValues.Telco_Recives_Electronice_File__c}" reRender="opCreateTelcoPrint,one,two" />
                            <apex:actionPoller action="{!checkTelcoXMLOutputPrint}" enabled="{!bEnabledPollerForTelco}" interval="5" reRender="opCreateTelcoPrint,one,two"/>
                            &nbsp;&nbsp;<apex:outputLabel value="{!strBatchStatusTelco}" />
                        </apex:panelGroup>
                        <apex:panelGroup >
                            <apex:outputLabel value="Telco Invoice Total : "/>
                            <apex:outputText value="{0,number,$ 0.00}">
                                <apex:param value="{!dTelcoInvoiceTotal}"/>
                            </apex:outputText>
                        </apex:panelGroup>
                        <apex:panelGroup >
                            <apex:outputLabel style="float: left;width: 200px;">Telco Received Electronic File</apex:outputLabel>
                            <apex:inputCheckbox id="elcetronicchkbox" value="{!objDEValues.Telco_Recives_Electronice_File__c}" disabled="true"/>
                        </apex:panelGroup>
                        <apex:panelGroup >
                            <apex:outputLabel value="XML Telco Invoice Total : "/>
                            <apex:outputText value="{0,number,$ 0.00}">
                                <apex:param value="{!objDEValues.XML_Output_Total_Amount__c}"/>
                            </apex:outputText>
                        </apex:panelGroup>
                    </apex:panelGrid>
                </apex:pageBlockSection>
            </apex:outputPanel>
            
            <apex:outputPanel id="opCreateTelcoDigi">
                <apex:pageBlockSection title="" columns="1" id="pbsCreateTelcoDigi" rendered="{!bShowCreateTelcoDigi}">
                    <apex:panelGrid columns="2" width="75%">
                        <apex:panelGroup >
                            <apex:commandButton value="Create & Send Telco File" status="fetchStatus" reRender="opCreateTelcoDigi,one,two" action="{!SendTelcoFileDigital}" disabled="{!!objDTS.Telco_Receives_EFile__c}" />                 
                            <apex:actionPoller action="{!CheckTelcoOutputDigital}" enabled="{!bEnabledPollerForTelco}" interval="5" reRender="opCreateTelcoDigi,one,two"/>
                            <apex:outputLabel value="{!strBatchStatusTelco}" />
                        </apex:panelGroup>
                        <apex:panelGroup >
                            <apex:outputLabel value="Telco Invoice Total : "/>
                            <apex:outputText value="{0,number,$ 0.00}">
                                <apex:param value="{!SILITotal}"/>
                            </apex:outputText>
                        </apex:panelGroup>
                        <apex:panelGroup >
                            <apex:outputLabel style="float: left;width: 200px;">Telco Received Electronic File</apex:outputLabel>
                            <apex:inputCheckbox id="elcetronicchkbox" value="{!objDTS.Telco_Receives_EFile__c}" disabled="true"/>
                        </apex:panelGroup>
                        <apex:panelGroup >
                            <apex:outputLabel value="XML Telco Invoice Total : "/>
                            <apex:outputText value="{0,number,$ 0.00}">
                                <apex:param value="{!objDTS.XML_Output_Total_Amount__c}"/>
                                </apex:outputText>
                        </apex:panelGroup>                      
                    </apex:panelGrid>
                </apex:pageBlockSection>
            </apex:outputPanel>
        </apex:pageBlock>
    </apex:form>
</apex:component>