<apex:component allowDML="true" controller="MultiDFFController">
	<apex:attribute name="dffrecordid" description="This is the value for the component." type="String" required="true" assignTo="{!dffId}"/>
	<apex:pageBlock id="pgBlock">
     <apex:pageblocksection columns="1" title="Multi From Current DFF : ">
        <apex:outputpanel id="dffLst">
        <apex:pageBlockTable value="{!lstDFF}" var="dff" >           
            <apex:column headervalue="Name">
                <apex:outputField value="{!dff.Name}" />
            </apex:column>
            <apex:column headervalue="Order Line Item">
                <apex:outputField value="{!dff.OrderLineItemID__c}" />
            </apex:column>
             <apex:column headervalue="Product">
                <apex:outputtext value="{!dff.ProductID__c}" />
            </apex:column>
            <apex:column headervalue="UDAC">
                <apex:outputtext value="{!dff.UDAC__c}" />
            </apex:column>
            <apex:column headervalue="Directory">
                <apex:outputtext value="{!dff.Directory_Name__c}" />
            </apex:column>
             <apex:column headervalue="Section">
                <apex:outputtext value="{!dff.OrderLineItemID__r.Directory_Section__r.Name}" />
            </apex:column>
            <apex:column headervalue="Heading">
                <apex:outputtext value="{!dff.Heading__c}" />
            </apex:column>
           <apex:column headervalue="Edition">
                <apex:outputtext value="{!dff.Directory_Edition__r.Name}" />
            </apex:column>
             <apex:column headervalue="Created Date">
                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
				    <apex:param value="{!dff.CreatedDate}" /> 
				</apex:outputText>
            </apex:column>
        </apex:pageBlockTable>  <br/><br/>
    </apex:outputpanel>
    </apex:pageblocksection>
    </apex:pageblock>
    <apex:pageMessages />
    <apex:outputpanel id="mainpanel">
    <br/>
    <apex:pageBlock rendered="{!IF(lstDFFCompleted.size == 0, false, true)}" id="pgBlock1">
     <apex:pageblocksection columns="1" title="Multi To:">
        <apex:outputpanel id="dffLst1">
        <apex:pageBlockTable value="{!lstDFFCompleted}" var="dffwrap" >
            <apex:column headervalue="Multi">
                <apex:inputCheckbox value="{!dffwrap.Is_Multied__c}" disabled="{!dffwrap.Is_Multied__c}"/>      
            </apex:column>
            <apex:column headervalue="Name">
                <apex:outputtext value="{!dffwrap.Name}" />
            </apex:column>
            <apex:column headervalue="Order Line Item">
                <apex:outputtext value="{!dffwrap.OrderLineItemID__r.Name}" />
            </apex:column>
             <apex:column headervalue="Product">
                <apex:outputtext value="{!dffwrap.ProductID__c}" />
            </apex:column>
            <apex:column headervalue="UDAC">
                <apex:outputtext value="{!dffwrap.UDAC__c}" />
            </apex:column>
            <apex:column headervalue="Directory">
                <apex:outputtext value="{!dffwrap.Directory_Name__c}" />
            </apex:column>
             <apex:column headervalue="Section">
                <apex:outputtext value="{!dffwrap.OrderLineItemID__r.Directory_Section__r.Name}" />
            </apex:column>
            <apex:column headervalue="Heading">
                <apex:outputtext value="{!dffwrap.Heading__c}" />
            </apex:column>
            <apex:column headervalue="Edition">
                <apex:outputtext value="{!dffwrap.Directory_Edition__r.Name}" />
            </apex:column>
            <apex:column headervalue="Created Date">
                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
				    <apex:param value="{!dffwrap.CreatedDate}" /> 
				</apex:outputText>
            </apex:column>
        </apex:pageBlockTable>  <br/><br/>
    </apex:outputpanel>
    </apex:pageblocksection>
    
    <apex:PageBlockButtons >
        <apex:commandButton value="Save" action="{!SaveSelectedDFF}"/>
        <apex:commandButton value="Refresh" action="{!onLoad}"/>
        <apex:commandButton value="Cancel" action="/{!dffId}"/>
    </apex:PageBlockButtons>
    </apex:pageblock>
    </apex:outputpanel>
</apex:component>