<apex:component controller="TearPagesController" allowDML="true">   
    <apex:pageBlock id="tearPage">
    <apex:pageMessages />
        <apex:pageBlockSection title="Tear Pages" collapsible="false" columns="1">
             <apex:panelGrid columns="2">
                <apex:outputLabel >Publication Company:</apex:outputLabel>
                <apex:inputtext value="{!pubCode}"></apex:inputtext>
                <apex:outputLabel >Edition:</apex:outputLabel>
                <apex:panelGroup >
                    <apex:inputtext value="{!editionCode}"></apex:inputtext>
                    <apex:commandButton value="Fetch Directories" action="{!fetchDirs}" reRender="tearPage" status="actStatus"/>
                </apex:panelGroup>
                <apex:outputLabel >Directory Name:</apex:outputLabel>
                <apex:panelGroup style="width:11%">
                    <apex:selectList value="{!dirId}" size="1">
                        <apex:selectOptions value="{!dirList}"/>
                    </apex:selectList>
                    <apex:commandButton value="Go" reRender="tearPage" status="actStatus" action="{!go}" disabled="{!goButtonBool}"/>
                </apex:panelGroup>                                                        
            </apex:panelGrid>
        </apex:pageBlockSection> 
        <apex:pageBlockSection columns="1" rendered="{!displayBool}">
            <!--<apex:panelGrid columns="2" width="70%" rendered="{!displayBool}">
               <apex:commandLink target="_blank" value="{!strDirName} National Invoices" action="{!showNatInv}" status="actStatus" reRender="invs"/>
           </apex:panelGrid>-->
            <apex:panelGrid columns="2">
                <!--<apex:inputCheckbox value="{!tearPagesReadyBool}">
                    <apex:actionSupport event="onclick" reRender="tearPage" status="actStatus" action="{!tearPagesReady}"/>
                </apex:inputCheckbox>
                <apex:outputLabel >Tear Pages Ready</apex:outputLabel>-->
                <apex:commandButton value="Send To Elite" action="{!updateSendToElite}" status="actStatus" reRender="tearPage" disabled="{!sendToEliteBool}"/>
                <apex:outputLink target="_blank" style="align:right" title="SAC Log Report" value="/{!natBillSACRACReportId}?pv0={!pubCode}&pv1={!editionCode}">SAC Log Report</apex:outputLink>                             
            </apex:panelGrid>
            <apex:panelGrid columns="3">
                <apex:panelGrid columns="4">                    
                    <apex:outputLabel ></apex:outputLabel>
                    <apex:inputCheckbox value="{!coversBool}" disabled="true"></apex:inputCheckbox> 
                    <apex:outputLabel >Covers, Index and Spine</apex:outputLabel>
                    <apex:outputLabel ></apex:outputLabel>
                                        
                    <apex:outputLabel ></apex:outputLabel>
                    <apex:outputLabel ></apex:outputLabel>
                    <apex:outputLabel >Yellow Pages</apex:outputLabel>
                    <apex:outputLabel ></apex:outputLabel>                    
                    
                    <apex:outputLabel ></apex:outputLabel>
                    <apex:outputLabel ></apex:outputLabel>
                    <apex:dataTable value="{!listYPDirSec}" var="YPDS" cellpadding="3" cellspacing="3"> 
                        <apex:column headerValue="Send">
                            <apex:inputCheckbox value="{!YPDS.Send_Tear_Pages_To_Elite__c}"/>
                        </apex:column>
                        <apex:column headerValue="Ready">
                        <apex:inputCheckbox value="{!YPDS.Tear_Pages_Ready_For_Transmission__c}" disabled="true"></apex:inputCheckbox>
                        </apex:column>
                        <apex:column >
                        <apex:outputLabel >{!YPDS.Name}</apex:outputLabel>
                        </apex:column>
                    </apex:dataTable>
                    <apex:outputLabel ></apex:outputLabel>
                    
                    <apex:outputLabel ></apex:outputLabel>
                    <apex:outputLabel ></apex:outputLabel>
                    <apex:outputLabel >White Pages</apex:outputLabel>
                    <apex:outputLabel ></apex:outputLabel>
                    
                    <apex:outputLabel ></apex:outputLabel>
                    <apex:outputLabel ></apex:outputLabel>
                    <apex:dataTable value="{!listWPDirSec}" var="WPDS" cellpadding="3" cellspacing="3">
                        <apex:column headerValue="Send">
                            <apex:inputCheckbox value="{!WPDS.Send_Tear_Pages_To_Elite__c}"/>
                        </apex:column>
                        <apex:column headerValue="Ready">
                        <apex:inputCheckbox value="{!WPDS.Tear_Pages_Ready_For_Transmission__c}" disabled="true"></apex:inputCheckbox>
                        </apex:column>
                        <apex:column >
                        <apex:outputLabel >{!WPDS.Name}</apex:outputLabel>
                        </apex:column>
                    </apex:dataTable>
                    <apex:outputLabel ></apex:outputLabel>       
                    
                    <apex:outputLabel rendered="{! IF(listOtherDirSec.size > 0, true, false)}"></apex:outputLabel>
                    <apex:outputLabel rendered="{! IF(listOtherDirSec.size > 0, true, false)}"></apex:outputLabel>
                    <apex:outputLabel rendered="{! IF(listOtherDirSec.size > 0, true, false)}">Other</apex:outputLabel>
                    <apex:outputLabel rendered="{! IF(listOtherDirSec.size > 0, true, false)}"></apex:outputLabel>
                    
                    <apex:outputLabel rendered="{! IF(listOtherDirSec.size > 0, true, false)}"></apex:outputLabel>
                    <apex:outputLabel rendered="{! IF(listOtherDirSec.size > 0, true, false)}"></apex:outputLabel>
                    <apex:dataTable value="{!listOtherDirSec}" var="other" cellpadding="3" cellspacing="3" rendered="{! IF(listOtherDirSec.size > 0, true, false)}">
                        <apex:column headerValue="Send">
                            <apex:inputCheckbox value="{!other.Send_Tear_Pages_To_Elite__c}"/>
                        </apex:column>
                        <apex:column headerValue="Ready">
                        <apex:inputCheckbox value="{!other.Tear_Pages_Ready_For_Transmission__c}" disabled="true"></apex:inputCheckbox>
                        </apex:column>
                        <apex:column >
                        <apex:outputLabel >{!other.Name}</apex:outputLabel>
                        </apex:column>
                    </apex:dataTable>
                    <apex:outputLabel rendered="{! IF(listOtherDirSec.size > 0, true, false)}"></apex:outputLabel>               
                </apex:panelGrid>
                <apex:panelGrid >
                </apex:panelGrid>
                <apex:panelGrid columns="1">
                        <apex:panelGroup >
                                <apex:outputLabel value="Number of Tear Pages Expected: "/>
                                <apex:inputText value="{!natBilling.NBS_Number_of_Tear_Pages_Expected__c}"/>
                        </apex:panelGroup>
                    <apex:panelGroup >
                        <apex:inputCheckbox disabled="true" value="{!pageSentRecvdBool}"></apex:inputCheckbox>  
                        <apex:outputLabel value="Page Sent = Pages Received"/>
                        <apex:outputLabel rendered="{!pageSentRecvdFlagBool}" style="font-weight:bold;color:red;">
                                (PAGES NOT EQUAL)
                        </apex:outputLabel>
                    </apex:panelGroup>
                    <apex:panelGroup >
                        <apex:inputCheckbox disabled="true" value="{!tearPageComplBool}"></apex:inputCheckbox> 
                        <apex:outputLabel value="Elite Tear Page Transfer Completed"/>
                    </apex:panelGroup>
                    <!--<apex:commandButton value="Send Directory Index" action="{!updateSendDirIndex}" status="actStatus" reRender="tearPage"/>
                    <apex:panelGroup >
                        <apex:inputCheckbox disabled="true" value="{!dirIndexBool}"></apex:inputCheckbox>  
                        <apex:outputLabel value="Directory Index Sent to Elite"/>
                    </apex:panelGroup>
                    <apex:panelGroup >
                        <apex:inputCheckbox disabled="true" value="{!dirIndexTransCompBool}"></apex:inputCheckbox>  
                        <apex:outputLabel >Directory Index Transfer Completed</apex:outputLabel>
                    </apex:panelGroup>-->
                    <apex:commandButton value="Save Send Tear Pages on Directory Section(s)" action="{!updateSendTearPagesOnDirSecs}" status="actStatus" reRender="tearPage"/>
                </apex:panelGrid>
            </apex:panelGrid>
        </apex:pageBlockSection>
        <apex:pageBlockButtons location="bottom" rendered="{!displayBool}">
            <apex:commandButton value="Save To Status Table" action="{!updateStatusTable}" status="actStatus" reRender="tearPage"/>
            <apex:commandButton value="Refresh From Status Table" action="{!go}" status="actStatus" reRender="tearPage"/>
        </apex:pageBlockButtons>
    </apex:pageBlock> 
    
    <apex:outputPanel id="invs">
        <apex:outputPanel styleClass="popupBg" layout="block" rendered="{!displayPopUp}">
            <apex:outputPanel styleClass="popup" layout="block" rendered="{!displayPopUp}">
                <apex:pageblock title="National Invoices" >
                    <apex:pageBlockTable value="{!listNatInv}" var="inv">
                        <apex:column >
                            <apex:outputLink target="_blank" value="/{!inv.id}">{!inv.Name}</apex:outputLink>
                        </apex:column>
                        <apex:column value="{!inv.Tax_Amount_New__c}" dir="RTL" headerClass="colHeadr"/>
                        <apex:column value="{!inv.Total_Amount__c}" dir="RTL" headerClass="colHeadr"/>
                        <apex:column value="{!inv.Net_Amount__c}" dir="RTL" headerClass="colHeadr"/>
                    </apex:pageBlockTable>
                    <apex:pageBlockButtons location="bottom">
                        <apex:commandButton value="Close" action="{!closePopup}"/>
                    </apex:pageBlockButtons>
                </apex:pageblock>
            </apex:outputPanel>
        </apex:outputPanel>
    </apex:outputPanel>
</apex:component>