<apex:page title="Administration Interface - Section/Heading Management">
  <apex:form >
      <apex:pageBlock title="Section and Heading Management">
          <apex:pageBlockSection columns="2" collapsible="false" >
              <apex:pageBlockSection id="SECTIONS" showHeader="True" title="Section Managaement">
              <apex:outputText >Section Starts With:&nbsp;<select><option>A</option></select> Section to Edit&nbsp;<select><option>Section name</option></select>&nbsp;<input type="button" value="Edit"/></apex:outputText>
              
              </apex:pageBlockSection>
  
  
          </apex:pageBlockSection>
      </apex:pageBlock>
  </apex:form>
</apex:page>