<apex:page standardStylesheets="false" id="page" renderAs="pdf" standardController="Directory_Listing__c" extensions="CaptionArrangement_v1" >
<html>
<apex:dataTable id="pbtable"  value="{!Mergewrapperlst}" var="MergeLst" width="1000">
                  <apex:column style="font-weight:{!if(MergeLst.WrapCLS.objDL.Caption_Header__c==true && MergeLst.WrapCLS.objDL.Caption_Member__c==false,'bold','')}" >
                 <apex:outputPanel rendered="{!IF(MergeLst.isListing,true,false)}">
                 <apex:outputText escape="false" value="{!MergeLst.WrapCLS.indentorderdisplay}"/>
                 <apex:outputPanel id="pnl1" rendered="{!MergeLst.WrapCLS.objDL.Caption_Member__c==true && MergeLst.WrapCLS.objDL.IsName__c==false && MergeLst.WrapCLS.objDL.IsPhoneNumber__c==false && MergeLst.WrapCLS.objDL.IsAddress__c==false}" >
                     {!if(MergeLst.WrapCLS.objDL.Caption_Member__c==true && MergeLst.WrapCLS.objDL.Caption_Display_Text__c!=null,MergeLst.WrapCLS.objDL.Caption_Display_Text__c,'--')}
                     </apex:outputPanel>
                     <apex:outputPanel id="pnl2" rendered="{!MergeLst.WrapCLS.objDL.IsName__c==true || MergeLst.WrapCLS.objDL.IsPhoneNumber__c==true || MergeLst.WrapCLS.objDL.IsAddress__c==true}">
                      {!if(MergeLst.WrapCLS.objDL.Caption_Header__c==false && MergeLst.WrapCLS.objDL.Caption_Member__c==true && MergeLst.WrapCLS.objDL.IsName__c==true,MergeLst.WrapCLS.objDL.Listing_Full_Name__c,if(MergeLst.WrapCLS.objDL.Caption_Header__c==true && MergeLst.WrapCLS.objDL.Caption_Member__c==false,MergeLst.WrapCLS.objDL.Listing_Full_Name__c, MergeLst.WrapCLS.objDL.Caption_Display_Text__c))}
                        {!IF((MergeLst.WrapCLS.objDL.IsAddress__c==true && MergeLst.WrapCLS.objDL.Address__c!=null ),' -- '+if((MergeLst.WrapCLS.objDL.Caption_Header__c==false && MergeLst.WrapCLS.objDL.Caption_Member__c==true),MergeLst.WrapCLS.objDL.Caption_Address__c,MergeLst.WrapCLS.objDL.Address__c),'')}
                      {!IF(MergeLst.WrapCLS.objDL.Caption_Header__c==true,IF(MergeLst.WrapCLS.objDL.IsPhoneNumber__c==true,IF(MergeLst.WrapCLS.objDL.Phone_Override__c!=null,'--'+MergeLst.WrapCLS.objDL.Phone_Override__c,IF(MergeLst.WrapCLS.objDL.Phone_Number__c!=null,'--'+MergeLst.WrapCLS.objDL.Phone_Number__c,'')),''),IF(MergeLst.WrapCLS.objDL.IsPhoneNumber__c==true,IF(MergeLst.WrapCLS.objDL.Phone_Override__c!=null,'--'+MergeLst.WrapCLS.objDL.Phone_Override__c, IF(MergeLst.WrapCLS.objDL.Phone_Number__c!=null,'--'+MergeLst.WrapCLS.objDL.Phone_Number__c,'')),''))}
                      <!--  {!IF(MergeLst.WrapCLS.objDL.Phone_Override__c!=null,' -- '+MergeLst.WrapCLS.objDL.Phone_Override__c,IF((MergeLst.WrapCLS.objDL.Phone_Number__c!=null && MergeLst.WrapCLS.objDL.IsPhoneNumber__c==true),' -- '+MergeLst.WrapCLS.objDL.Phone_Number__c,''))} -->
                      </apex:outputPanel>
                    </apex:outputPanel>
                 
                 <apex:outputPanel rendered="{!IF(MergeLst.isListing,false,true)}">
                 
                 <apex:outputText escape="false" value="{!MergeLst.WrapOLICLS.indentorderdisplay}"/> 
                  <apex:outputPanel id="pnl3" rendered="{!MergeLst.WrapOLICLS.objDFF.Caption_Member__c==true && MergeLst.WrapOLICLS.objDFF.Caption_Print_Name__c==false && MergeLst.WrapOLICLS.objDFF.Caption_Print_Phone_Number__c==false && MergeLst.WrapOLICLS.objDFF.Caption_Print_Address__c==false}" >
                     {!if(MergeLst.WrapOLICLS.objDFF.Caption_Member__c==true && MergeLst.WrapOLICLS.objDFF.Caption_Display_Text__c!=null,MergeLst.WrapOLICLS.objDFF.Caption_Display_Text__c,'--')}
                     </apex:outputPanel>
                     <apex:outputPanel id="pnl4" rendered="{!MergeLst.WrapOLICLS.objDFF.Caption_Print_Name__c==true || MergeLst.WrapOLICLS.objDFF.Caption_Print_Phone_Number__c==true || MergeLst.WrapOLICLS.objDFF.Caption_Print_Address__c==true}">
                      {!if(MergeLst.WrapOLICLS.objDFF.Caption_Header__c==false && MergeLst.WrapOLICLS.objDFF.Caption_Member__c==true && MergeLst.WrapOLICLS.objDFF.Caption_Print_Name__c==true,MergeLst.WrapOLICLS.objDFF.Name,if(MergeLst.WrapOLICLS.objDFF.Caption_Header__c==true && MergeLst.WrapOLICLS.objDFF.Caption_Member__c==false,MergeLst.WrapOLICLS.objDFF.Name, MergeLst.WrapOLICLS.objDFF.Caption_Display_Text__c))}
                        {!IF((MergeLst.WrapOLICLS.objDFF.Caption_Print_Address__c==true && MergeLst.WrapOLICLS.objDFF.Caption_Address__c!=null ),' -- '+MergeLst.WrapOLICLS.objDFF.Caption_Address__c,'')}
                        {!IF(MergeLst.WrapOLICLS.objDFF.Caption_Phone_Number__c!=null || MergeLst.WrapOLICLS.objDFF.Caption_Print_Phone_Number__c==true,' -- '+MergeLst.WrapOLICLS.objDFF.Caption_Phone_Number__c,'')}
                      </apex:outputPanel>
                  </apex:outputPanel>
                   </apex:column>
                  </apex:dataTable>                  

</html>
 </apex:page>