<apex:page standardController="Order_Group__c" extensions="CreateNationalInvoiceManual_V5">
    <apex:form >
        <!--<apex:pageBlock mode="edit">
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton action="{!GenerateNationalInvoiceByPubco}" value="Generate National Invoice / ISS"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="National Invoice Generation & IIS by Pub Date" columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Pub Date"/>
                    <apex:inputField value="{!objOSNew.Service_Start_Date__c}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        <apex:pageBlock mode="edit">
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton action="{!GenerateNationalIISByNationalBillingDate}" value="Generate Remit/FF Invoice"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Remitt/FF Invoice by National billing Date" columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="National Billing Date"/>
                    <apex:inputField value="{!objOSNew.Service_End_Date__c}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>-->
        
        <apex:pageBlock title="Create National Opportunity & Order" mode="edit">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Create National Opportunity & Order" action="{!createOpportunityAndOrder}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>        
    </apex:form>
</apex:page>