<apex:page StandardController="Opportunity" extensions="lockCloneCreateOrderController" action="{!onLoad}">   
    <apex:form >
        <apex:pageMessages id="message" />        
    </apex:form>
</apex:page>