<apex:page standardController="Directory__c" extensions="CreatePaginationJobController">
<script>
function selectAll()
{    
    var obj = document.getElementById('SelectAll');
    
    if (obj.checked)
    {
        var inputs = document.getElementsByTagName("input");
        for(var i = 0; i < inputs.length; i++) 
        {
            if(inputs[i].type == "checkbox") 
            {
                inputs[i].checked = true; 
            }  
        }
    }
    else
    {
        var inputs = document.getElementsByTagName("input");
        for(var i = 0; i < inputs.length; i++) 
        {
            if(inputs[i].type == "checkbox") 
            {
                inputs[i].checked = false; 
            }  
        }
    }
}
</script>
<style>
.dtheader
{
border-bottom:2px solid #000000 !important;
}
</style>
    <apex:form >
        <apex:pageBlock mode="edit">

            <apex:pageBlockButtons location="both">
                <apex:commandButton value="Save" action="{!doSave}"/>
                <apex:commandButton value="Cancel" action="{!doCancel}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Select Year to Process" columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Year" for="year"/>
                    <apex:selectList value="{!year}" multiselect="false" size="1" required="true">
                        <apex:selectOptions value="{!yearList}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Directory Sections Effected" columns="1">
                <apex:dataTable value="{!DirectorySectionWrapperList}" var="DS" cellpadding="4" headerClass="dtheader">
                    <apex:column >
                        <apex:facet name="header">
                            <input type="checkbox" id="SelectAll" name="SelectAll" onchange="selectAll()"/>
                        </apex:facet>
                        <apex:inputCheckbox value="{!DS.dsection.Include_In_NCR_Section__c}" selected="false" rendered="{!NOT(OR(DS.preventPagination,DS.dsection.Inactive_Directory_Section__c,DS.dsection.Non_Paginated_Section__c))}" />

                 
                  <div class="mouseOverInfoOuter" onfocus="addMouseOver(this)" onmouseover="addMouseOver(this)" tabindex="0"><apex:image url="/s.gif" style="margin-top: -1px;margin-left: 4px;" styleClass="infoIcon"  rendered="{!AND(DS.preventPagination,NOT(DS.dsection.Inactive_Directory_Section__c),NOT(DS.dsection.Non_Paginated_Section__c))}"/><div class="mouseOverInfo" style="display: none; opacity: -0.19999999999999996; left: 16px;">Unable to create pagination job record due to no directory pagination record associated with this directory section.</div></div>
                  
                  <div class="mouseOverInfoOuter" onfocus="addMouseOver(this)" onmouseover="addMouseOver(this)" tabindex="0"><apex:image url="/s.gif" style="margin-top: -1px;margin-left: 4px;" styleClass="infoIcon"  rendered="{!DS.dsection.Non_Paginated_Section__c}"/><div class="mouseOverInfo" style="display: none; opacity: -0.19999999999999996; left: 16px;">Section Type is not valid for Pagination job.</div></div>
                  
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Name</apex:facet>
                        <apex:outputText value="{!DS.dsection.Name}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Section Code</apex:facet>
                        <apex:outputText value="{!DS.dsection.Section_Code__c}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Section Type</apex:facet>
                        <apex:outputText value="{!DS.dsection.Section_Page_Type__c}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">XML Name</apex:facet>
                        <apex:outputText value="{!DS.dsection.PDF_Name__c}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Inactive Directory Section</apex:facet>
                        <apex:outputField value="{!DS.dsection.Inactive_Directory_Section__c}"/>
                    </apex:column>
                </apex:dataTable>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>