<apex:page standardController="Opportunity" extensions="CreateOrderTestController" readOnly="false">
    <apex:form title="Create Order for Migrated Opportunities">
        <br/>
        <!-- <apex:outputLabel value="Number of Opportunities yet to be processed : {!intRecordCount}"/> -->
        <br/>
        <apex:pageBlock mode="edit" title="Skip Trigger - Update Custom Settings">
            <apex:pageMessage summary="Skip Trigger Initial Setup - Account(DM:MethodSkip,BU:FullSkip), Contact(DM:MethodSkip,BU:FullSkip), Opportunity(BU:FullSkip), OpportunityLineItem(BU:FullSkip), Listing(BU & DM:FullSkip), Listing(BU & DM:MethodSkip), Scoped Listing(BU & DM:FullSkip), Lead(BU & DM:FullSkip)" severity="info" strength="1" />
            <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!InitialSetUpSkipTrigger}" value="Skip Trigger Initial Setup"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <!-- <apex:pageBlock mode="edit" title="Create Order for Migrated BOTS Opportunities">
            <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!closeOppsandCreateBOTSOrder}" value="Close BOTS Opportunity and create Order"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock mode="edit" title="Create Order for Migrated NI Opportunities">
            <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!closeOppsandCreateNIOrder}" value="Close NI Opportunity and create Order"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock> -->
        <apex:pageBlock mode="edit" title="Update NI/BOTS Opportunity Custom Settings">
            <apex:pageMessage summary="Popuate the Core Migration Start and End number on the batch custom settings." severity="info" strength="1" />
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton action="{!updateNIBOTSOpportunityCustomSettings}" value="Update BOTS & NI Custom Settings"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputlabel value="Batch Name : " />
                    <apex:selectList id="chooseBatch" value="{!strBatchName}" size="1">
                        <apex:selectOption itemValue="batch1" itemLabel="BOTS Batch 1"/>
                        <apex:selectOption itemValue="batch2" itemLabel="BOTS Batch 2"/>
                        <apex:selectOption itemValue="batch3" itemLabel="BOTS Batch 3"/>
                        <apex:selectOption itemValue="batch4" itemLabel="BOTS Batch 4"/>
                        <apex:selectOption itemValue="batch5" itemLabel="BOTS Batch 5"/>
                        <apex:selectOption itemValue="batch6New" itemLabel="BOTS Batch 6"/>
                        <apex:selectOption itemValue="batch7New" itemLabel="BOTS Batch 7"/>
                        <apex:selectOption itemValue="batch6" itemLabel="BOTS Batch - All"/>
                        <apex:selectOption itemValue="nibatch1" itemLabel="NI Batch 1"/>
                        <apex:selectOption itemValue="nibatch2" itemLabel="NI Batch 2"/>
                        <apex:selectOption itemValue="nibatch3" itemLabel="NI Batch 3"/>
                        <apex:selectOption itemValue="nibatch4" itemLabel="NI Batch 4"/>
                        <apex:selectOption itemValue="nibatch5" itemLabel="NI Batch 5"/>
                        <apex:selectOption itemValue="nibatch6New" itemLabel="NI Batch 6"/>
                        <apex:selectOption itemValue="nibatch7New" itemLabel="NI Batch 7"/>
                        <apex:selectOption itemValue="nibatch6" itemLabel="NI Batch - All"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputlabel value="Core Start Number : " />
                    <apex:inputText value="{!strStartNumber}" />
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputlabel value="Core End Number : " />
                    <apex:inputText value="{!strEndNumber}" />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>       
        <apex:pageBlock mode="edit" title="Create Order for Migrated BOTS Opportunities in batches">
            <apex:pageMessage summary="Modify the Core Migration Id limit in Custom labels to limit the Opportunity records" severity="info" strength="1" />
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton action="{!closeOppsandCreateBOTSOrderBatch1}" value="BOTS Opportunity - Order creation batch 1"/>
                <apex:commandButton action="{!closeOppsandCreateBOTSOrderBatch2}" value="BOTS Opportunity - Order creation batch 2"/>
                <apex:commandButton action="{!closeOppsandCreateBOTSOrderBatch3}" value="BOTS Opportunity - Order creation batch 3"/>
                <apex:commandButton action="{!closeOppsandCreateBOTSOrderBatch4}" value="BOTS Opportunity - Order creation batch 4"/>
                <apex:commandButton action="{!closeOppsandCreateBOTSOrderBatch5}" value="BOTS Opportunity - Order creation batch 5"/>
                <apex:commandButton action="{!closeOppsandCreateBOTSOrderBatch6}" value="BOTS Opportunity - Order creation batch 6"/>
                <apex:commandButton action="{!closeOppsandCreateBOTSOrderBatch7}" value="BOTS Opportunity - Order creation batch 7"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock mode="edit" title="NI Opportunities - Update Renewal Action Code">
            <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!updateOpportunityLineItemWithRenewalAction}" value="Update Opportunity Line Item Renewal Action Code for New Code"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock mode="edit" title="NI Opportunities - Bundle Scenarios">
            <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!processOppLineItemBundles}" value="Process OpportunityLineItems for Bundle Scenrios"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock mode="edit" title="Create Order for Migrated NI Opportunities in batches">
            <apex:pageMessage summary="Modify the Core Migration Id limit in Custom labels to limit the Opportunity records" severity="info" strength="1" />
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton action="{!closeOppsandCreateNIOrderBatch1}" value="NI Opportunity - Order creation batch 1"/>
                <apex:commandButton action="{!closeOppsandCreateNIOrderBatch2}" value="NI Opportunity - Order creation batch 2"/>
                <apex:commandButton action="{!closeOppsandCreateNIOrderBatch3}" value="NI Opportunity - Order creation batch 3"/>
                <apex:commandButton action="{!closeOppsandCreateNIOrderBatch4}" value="NI Opportunity - Order creation batch 4"/>
                <apex:commandButton action="{!closeOppsandCreateNIOrderBatch5}" value="NI Opportunity - Order creation batch 5"/>
                <apex:commandButton action="{!closeOppsandCreateNIOrderBatch6}" value="NI Opportunity - Order creation batch 6"/>
                <apex:commandButton action="{!closeOppsandCreateNIOrderBatch7}" value="NI Opportunity - Order creation batch 7"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        <apex:pageblock mode="edit" title="OrderlineItems After insert trigger batch">
        <apex:pageBlockButtons location="top">
               <!-- <apex:commandButton action="{!executeOLIAfterInsertTriggerBatch}" value="Run After Insert trigger for orderlineitems"/> -->
              <apex:commandButton action="{!executeOLIAfterInsertTriggerBatch1}" value="Run After Insert trigger for orderlineitems - Batch 1"/>
               <apex:commandButton action="{!executeOLIAfterInsertTriggerBatch2}" value="Run After Insert trigger for orderlineitems - Batch 2"/>
               <apex:commandButton action="{!executeOLIAfterInsertTriggerBatch3}" value="Run After Insert trigger for orderlineitems - Batch 3"/>
               <apex:commandButton action="{!executeOLIAfterInsertTriggerBatch4}" value="Run After Insert trigger for orderlineitems - Batch 4"/>
               <apex:commandButton action="{!executeOLIAfterInsertTriggerBatch5}" value="Run After Insert trigger for orderlineitems - Batch 5"/> 
               <apex:commandButton action="{!executeOLIAfterInsertTriggerBatch6}" value="Run After Insert trigger for orderlineitems - Batch 6"/> 
               <apex:commandButton action="{!executeOLIAfterInsertTriggerBatch7}" value="Run After Insert trigger for orderlineitems - Batch 7"/> 
            </apex:pageBlockButtons>
             <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageblock>
        
        <apex:pageblock mode="edit" title="OrderlineItems After update trigger batch">
        <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!executeOLIAfterUpdateTriggerBatch}" value="Run After update trigger for orderlineitems"/>
            </apex:pageBlockButtons>
             <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageblock> 
        <apex:pageblock mode="edit" title="DFF After update trigger batch">
        <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!executeDFFAfterUpdateTriggerBatch}" value="Run After update trigger for DFF"/>
            </apex:pageBlockButtons>
             <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageblock>
        <apex:pageblock mode="edit" title="Scoped Listing trigger batch">
        <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!executeDLTriggerBatch1}" value="Run batch trigger for Scoped Listing - Batch 1"/>
                <apex:commandButton action="{!executeDLTriggerBatch2}" value="Run batch trigger for Scoped Listing - Batch 2"/>
                <apex:commandButton action="{!executeDLTriggerBatch3}" value="Run batch trigger for Scoped Listing - Batch 3"/>
                <apex:commandButton action="{!executeDLTriggerBatch4}" value="Run batch trigger for Scoped Listing - Batch 4"/>
                <apex:commandButton action="{!executeDLTriggerBatch5}" value="Run batch trigger for Scoped Listing - Batch 5"/>
                <apex:commandButton action="{!executeDLTriggerBatch6}" value="Run batch trigger for Scoped Listing - Batch 6"/>
                <apex:commandButton action="{!executeDLTriggerBatch7}" value="Run batch trigger for Scoped Listing - Batch 7"/>
            </apex:pageBlockButtons>
             <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageblock>
        <apex:pageblock mode="edit" title="Suppressed Scoped Listing batch">
        <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!executeDLSuppressionBatch}" value="Run batch for Suppressed Scoped Listing"/>
            </apex:pageBlockButtons>
             <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageblock>
        <!--<apex:pageBlock mode="edit" title="Create Order parallely for Migrated Opportunities">
            <apex:pageMessage summary="Records will be processed only if Maximum Opportunities divided by Number of Opportuniities is less than 5" severity="info" strength="1" />
            <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!CreateOrderParallely}" value="Close Opportunity and create Order parallely"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Number of Opportuniities to be processed parallely" for="batchCount" />
                    <apex:inputtext id="batchCount" value="{!intBatchCount}"  />
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Maximum Opportunities to be processed (Specify only if all Opportunities need not be processed)" for="toProcess" />
                    <apex:inputtext id="toProcess" value="{!intToProcess}"  />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>-->
        
        <apex:pageBlock mode="edit" title="Directory Pagination trigger batch">
         <apex:pageBlockButtons location="top">
                    <apex:commandButton value="Run batch trigger for Directory Pagination" action="{!executeDirPagBatchTrigger}"/>
              </apex:pageBlockButtons>
        </apex:pageblock>
        
        <apex:pageBlock mode="edit" title="Listings after insert trigger batch">
         <apex:pageBlockButtons location="top">
                    <apex:commandButton value="Run batch trigger for Listing records - Batch 1" action="{!executeListingBatchTriggerBatch1}"/>
                     <apex:commandButton value="Run batch trigger for Listing records - Batch 2" action="{!executeListingBatchTriggerBatch2}"/>
                     <apex:commandButton value="Run batch trigger for Listing records - Batch 3" action="{!executeListingBatchTriggerBatch3}"/>
                     <apex:commandButton value="Run batch trigger for Listing records - Batch 4" action="{!executeListingBatchTriggerBatch4}"/>
                     <apex:commandButton value="Run batch trigger for Listing records - Batch 5" action="{!executeListingBatchTriggerBatch5}"/>
                     <apex:commandButton value="Run batch trigger for Listing records - Batch 6" action="{!executeListingBatchTriggerBatch6}"/>
                     <apex:commandButton value="Run batch trigger for Listing records - Batch 7" action="{!executeListingBatchTriggerBatch7}"/>
              </apex:pageBlockButtons>
        </apex:pageblock>
        
        
       <apex:pageBlock mode="edit" title="Activate/Deactivate PriceBookEntries">
               
               <apex:pageBlockButtons location="top">
                    <apex:commandButton action="{!activatePriceBookEntries}" value="Activate PriceBookEntry"/>  
                    <apex:commandButton action="{!deactivatePriceBookEntries}" value="DeActivate PriceBookEntry"/>
               </apex:pageBlockButtons>
               
       </apex:pageBlock> 
       
       <apex:pageBlock mode="edit" title="Activate/Deactivate Products">
               
               <apex:pageBlockButtons location="top">
                    <apex:commandButton action="{!activateProducts}" value="Activate Products"/>  
                    <apex:commandButton action="{!deactivateProducts}" value="DeActivate Products"/>
               </apex:pageBlockButtons>
               
       </apex:pageBlock>
       
       <apex:pageBlock mode="edit" title="Contact County Update">
               
               <apex:pageBlockButtons location="top">
                    <apex:commandButton action="{!executeContactCountyUpdate}" value="Update County"/>
               </apex:pageBlockButtons>
               
       </apex:pageBlock> 
       
    <apex:pageBlock mode="edit" title="Order Line Item - Billing Amount Population Batch">
        <apex:pageBlockButtons location="top">
            <apex:commandButton value="Run batch for Billing Amount Population on OLI" action="{!executeBillAmtBatch}"/>
            <apex:commandButton value="Run batch for Deleting LOB records" action="{!executeLOBDelBatch}"/>
        </apex:pageBlockButtons>
    </apex:pageBlock>
    </apex:form>
</apex:page>