<apex:page controller="DFFMultiAddSeqManual" tabStyle="Digital_Product_Requirement__c" sidebar="false" >
    <apex:pagemessages ></apex:pagemessages>
    <apex:form >
           <apex:commandButton value="DFF Multi Add Sequence Logic Batch"  action="{!doRun}"/>
    </apex:form>
</apex:page>