<apex:page Controller="EquifaxPdf" renderAs="pdf" action="{!displayData}">

    <head>
        <style>
            @page {
                margin: 0.25in;
            }
        </style>
    </head>
    <apex:pageBlock >
        <apex:pagemessages escape="false" /> {!displayTxt}
        <!--<apex:outputPanel rendered="{!flag}">
     <h1>Commercial Xml Data!</h1>
        <apex:repeat value="{!cmmrclData}" var="cmrcl">
            <h3><apex:outputText value="{!cmrcl}"/></h3>
            <p><apex:outputText value="{!cmmrclData[cmrcl]}"/></p><br/>
        </apex:repeat>
    </apex:outputPanel>
    <apex:outputPanel rendered="{!flag}">
    <h1>Consumer Xml Data!</h1>
        <apex:repeat value="{!cnsmrData}" var="cnsmr">
            <h3><apex:outputText value="{!cnsmr}"/></h3>
            <p><apex:outputText value="{!cnsmrData[cnsmr]}"/></p><br/>
        </apex:repeat>
    <apex:pageMessages escape="false"/>
</apex:outputPanel>-->
    </apex:pageBlock>
</apex:page>