<apex:page controller="GalleyReportBatchTestDemo" tabStyle="Galley_Parameter__tab">
<script src="/soap/ajax/28.0/connection.js" type="text/javascript"></script>
    <script src="/soap/ajax/28.0/apex.js" type="text/javascript"></script>
    <script type="text/javascript">
    
    
    function Process() {
        alert(1);
        var result = sforce.connection.query("select id from DIRECTORY_PAGINATION__C LIMIT 60000");
        alert(2);
        var queryMore = true;
        alert(3);
        var s = [];
        alert(4);
        var icount = 0;
        alert(5);
        while (queryMore) {
            var records = result.getArray("records");
            icount = icount+records.length;
            //alert(records[records.length-1].id);
            //alert(records[records.length-1]);
            //alert(records.length-1);
            if(icount == 40000 || icount == 60000) {
            s.push(records[records.length-1]);
            }
            //for (var i = 0; i < records.length; i++) {
                //process records[i]
                
            //}
            if (result.getBoolean("done")) {
                queryMore = false;
            } 
            else {
                result = sforce.connection.queryMore(result.queryLocator);
            }
        }
        alert(6);
        alert('s'+s);
    }
        
        </script>
  <!-- Begin Default Content REMOVE THIS -->
  <h1>Congratulations</h1>
  This is your new Page
  <!-- End Default Content REMOVE THIS -->
  <apex:form >
  <apex:commandButton value="Search" onclick="Process();"/>
  </apex:form>
  
</apex:page>