<apex:page standardController="Heading_Request__c"  >
    <apex:outputText style="font-size:12pt;color:red;font-weight:bold" value="Thank you for submitting your heading request.  The request has been sent to the appropriate department." rendered="{!IF(OR($Profile.Name = "System Administrator", $Profile.Name="Marketing Manager"),false,true)}"/>
<br/><br/>
    <apex:detail subject="{!Heading_Request__c.Id}" relatedList="{!IF(OR($Profile.Name = "System Administrator", $Profile.Name="Marketing Manager"),true,false)}" title="false"/>
</apex:page>