<apex:page standardcontroller="Lead" extensions="MassUpdateLeadListings2" sidebar="true" >

<apex:form id="frm">
    <apex:pageblock >
    <apex:pageBlockSection title=" Lead : {!lead.Name}" columns="2">
            <!--<apex:pageBlockSectionItem >
            <apex:outputLabel style="font-weight:bold;" value="Last Name/Business Name" ></apex:outputLabel>
              <apex:inputField value="{!listing.Name}" />
            </apex:pageBlockSectionItem><br/>
            <apex:pageBlockSectionItem >
                <apex:outputLabel style="font-weight:bold;" value="Phone" ></apex:outputLabel>
                 <apex:inputtext value="{!applyPhone}" />
                 <apex:inputField value="{!listing.Phone__c}" />
            </apex:pageBlockSectionItem><br/>-->
            <apex:pageBlockSectionItem >
            <apex:outputLabel style="font-weight:bold;" value="Street Number"></apex:outputLabel>
                <apex:inputField value="{!listing.Listing_Street_Number__c}"/>
            </apex:pageBlockSectionItem><br/>
            <apex:pageBlockSectionItem >
            <apex:outputLabel style="font-weight:bold;" value="Street Name" ></apex:outputLabel>
                <apex:inputField value="{!listing.Listing_Street__c }"/>
            </apex:pageBlockSectionItem><br/>
            <apex:pageBlockSectionItem >
            <apex:outputLabel style="font-weight:bold;" value="PO Box" ></apex:outputLabel>
                <apex:inputField value="{!listing.Listing_PO_Box__c}"/>
            </apex:pageBlockSectionItem><br/>
            <apex:pageBlockSectionItem >
            <apex:outputLabel style="font-weight:bold;" value="City" ></apex:outputLabel>
                <apex:inputField value="{!listing.Listing_City__c}"/>
            </apex:pageBlockSectionItem><br/>
            <apex:pageBlockSectionItem >
            <apex:outputLabel style="font-weight:bold;" value="State"></apex:outputLabel>
                <apex:inputField value="{!listing.Listing_State__c}"/>
            </apex:pageBlockSectionItem><br/>
            <apex:pageBlockSectionItem >
            <apex:outputLabel style="font-weight:bold;" value="Postal Code"></apex:outputLabel>
                <apex:inputField value="{!listing.Listing_Postal_Code__c}"/>
            </apex:pageBlockSectionItem><br/>
            <apex:pageBlockSectionItem >
            <apex:outputLabel style="font-weight:bold;" value="Service Order #"></apex:outputLabel>
                <apex:inputField value="{!listing.Service_Order__c}"/>
            </apex:pageBlockSectionItem><br/>
            <apex:pageBlockSectionItem helpText="Who with the Business authorized us to update their listing(s)" >
            <apex:outputLabel style="font-weight:bold;" value="Changes Authorized By"></apex:outputLabel>
                <apex:inputField value="{!listing.Changes_Authorized_By__c}"/>
            </apex:pageBlockSectionItem><br/>
            <apex:pageBlockSectionItem >
            <apex:outputLabel style="font-weight:bold;" value="Customer Advised Charges May Apply (if applicable)"></apex:outputLabel>
                <apex:inputField value="{!listing.Customer_Advised_Charges_May_Apply__c}"/>
            </apex:pageBlockSectionItem><br/>
        </apex:pageBlockSection>
        
        <apex:PageBlockButtons location="bottom">
            <apex:commandButton value="Save" action="{!SaveSelected}" status="status"/>
            <apex:commandButton value="Cancel" action="{!redirect}"/>
             <apex:actionstatus id="status">
                        <apex:facet name="start">
                            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;"> 
                                <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                    <span class="waitingDescription">Loading...</span>
                                </div>
                            </div>
                        </apex:facet>
                    </apex:actionstatus>
        </apex:PageBlockButtons>
    </apex:pageBlock>
    <apex:pageMessages />
    <apex:outputpanel id="mainpanel">
    <br/>
    <apex:pageBlock rendered="{!IF(listingActLst.size == 0, false, true)}" id="pgBlock">
     <apex:pageblocksection columns="1" title="Listings">
        <apex:outputpanel id="ListingLst">
        <apex:pageBlockTable value="{!listingActLst}" var="Listings" >
            <apex:column headervalue="Select">
                <apex:inputCheckbox value="{!Listings.ischecked}" id="selectLine1"/>      
            </apex:column>             
            <apex:column headervalue="Name">
                   <apex:commandLink value="{!Listings.objL.LST_Last_Name_Business_Name__c}" action="/{!Listings.objL.Id}">
                   </apex:commandLink>
            </apex:column>
            <apex:column headervalue="Phone">
                <apex:outputField value="{!Listings.objL.Phone__c}" />
            </apex:column>
             <apex:column headervalue="Listing Street Number">
                <apex:outputtext value="{!Listings.objL.Listing_Street_Number__c}" />
            </apex:column>
            <apex:column headervalue="Listing Street">
                <apex:outputtext value="{!Listings.objL.Listing_Street__c}" />
            </apex:column>
            <apex:column headervalue="Listing PO Box #">
                <apex:outputtext value="{!Listings.objL.Listing_PO_Box__c}" />
            </apex:column>
             <apex:column headervalue="Listing City">
                <apex:outputtext value="{!Listings.objL.Listing_City__c}" />
            </apex:column>
            <apex:column headervalue="Listing State">
                <apex:outputtext value="{!Listings.objL.Listing_State__c}" />
            </apex:column>
           <apex:column headervalue="Listing Postal Code">
                <apex:outputtext value="{!Listings.objL.Listing_Postal_Code__c}" />
            </apex:column>
            <apex:column headervalue="Service Order #">
                <apex:outputtext value="{!Listings.objL.Service_Order__c}" />
            </apex:column>
        </apex:pageBlockTable>  <br/><br/>
    </apex:outputpanel>
    </apex:pageblocksection>
    </apex:pageblock>
    </apex:outputpanel>
  </apex:form>
</apex:page>