<apex:page standardController="Account">
 <apex:form >
  <apex:outputText style="font-size:14pt;text-align:center;font-weight:bold" value="To create a new customer account, please create a lead and convert it if appropriate" />
<br/>
<br/>
<!--  <apex:pageBlock rendered="{!IF($Profile.Name = 'System Administrator', true, false)}" mode="edit">
     Admins - To continue with account creation click the appropriate link below:
<br/>
<apex:outputLink value="/setup/ui/recordtypeselect.jsp?ent=Account&retURL=%2F001%2Fo&save_new_url=%2F001%2Fe%3FretURL%3D%252F001%252Fo" id="Select">Select</apex:outputLink>
<br/>
    <apex:outputLink value="/001/e?retURL=%2F001%2Fo&RecordType=012Z00000008mky&ent=Account" id="CustomerAccount">Customer Account</apex:outputLink><br/>
    <apex:outputLink value="/001/e?retURL=%2F001%2Fo&RecordType=012Z00000008ml1&ent=Account" id="TelcoPartner">Telco Partner</apex:outputLink><br/>
    <apex:outputLink value="/001/e?retURL=%2F001%2Fo&RecordType=012Z00000008mkw&ent=Account" id="CMR">CMR</apex:outputLink><br/>
    <apex:outputLink value="/001/e?retURL=%2F001%2Fo&RecordType=012Z00000008mkx&ent=Account" id="CMRNetwork">CMR Network</apex:outputLink><br/>
    <apex:outputLink value="/001/e?retURL=%2F001%2Fo&RecordType=012Z00000008ml0&ent=Account" id="PublicationCompany">Publication Company</apex:outputLink>
  </apex:pageBlock> -->
  
  <apex:pageBlock title="Visibile to Admins Only" mode="edit" rendered="{!IF($Profile.Name = 'System Administrator',true, false)}">
      <apex:pageBlockButtons >
        <apex:commandButton action="{!save}" value="Save"/>
      </apex:pageBlockButtons>
      <apex:pageblocksection columns="1">
        <apex:inputField value="{!account.name}" required="true"/>
        <apex:inputField value="{!account.phone}" required="true"/>
        <apex:inputField value="{!account.recordtypeid}" required="true"/>
        Once you save, then edit the record to provide the additional information.
      </apex:pageblocksection>
    </apex:pageBlock>
 </apex:form>
</apex:page>