<apex:page standardController="Digital_Product_Requirement__c" extensions="OrderSetDFFsSummaryController" sidebar="false" showHeader="false">
<apex:form >

<script>
var isClicked = false;
function checkDoubleClick(obj){
    if (isClicked) {
        return false;
    }else {
        isClicked = true;
        obj.className = 'btnDisabled';
        return true;
    }
}
</script>

<apex:pageBlock title="OrderSet Summary Page">
    <apex:pageBlockButtons location="top">
        <apex:commandButton value="Back" action="/{!dffId}"/>
        <!---<apex:commandButton value="Submit for Fulfillment" action="{!submitfulfillment}" onclick="return checkDoubleClick(this)" disabled="{!if(AllDffsSmmry.size>0,false,true)}"/>--->
        <apex:commandButton value="Submit for Fulfillment" action="{!submitfulfillment}" onclick="return checkDoubleClick(this)" disabled="{!if((AllDffsSmmry.size>0 && flag=='S'), true, false)}"/>        
    </apex:pageBlockButtons>
    <apex:pageMessages />
<apex:pageBlockSection title="OrderSet Name: {!Digital_Product_Requirement__c.OrderLineItemID__r.Order_Group__r.Name} {!Digital_Product_Requirement__c.ModificationOrderLineItem__r.Order_Group__r.Name}" collapsible="false" columns="1">
        <apex:pageblocktable value="{!AllDffsSmmry}" var="A">
            <apex:column > <apex:facet name="header">DFF Link</apex:facet> 
                <apex:outputLink value="/{!A.Id}" target="_top">{!A.Name}</apex:outputLink>
            </apex:column>
            <apex:column headervalue="UDAC Name" value="{!A.UDAC__c}"/>
            <apex:column headervalue="Account" value="{!A.Account__c}"/>
            <apex:column headervalue="Product Type" value="{!A.RecordTypeId}" />
            <apex:column headervalue="Advertised Business Name" value="{!A.business_name__c}" />
            <!---<apex:column headervalue="Advertised Business Url" value="{!A.business_url__c}" />
            <apex:column headervalue="Bundle" value="{!A.Bundle__c}" />--->
        </apex:pageblocktable>
     </apex:pageBlockSection>
</apex:pageBlock>

<!---<apex:pageblock title="OrderSet Summary Page" id="Block">
    <apex:pageBlockButtons location="top">
        <apex:commandButton value="Back" action="/{!dffId}"/>
        <apex:commandButton value="Submit for Fulfillment" action="{!submitfulfillment}" onclick="return checkDoubleClick(this)"/>        
    </apex:pageBlockButtons>
<apex:pageBlockSection title="OrderSet Name: {!Digital_Product_Requirement__c.OrderLineItemID__r.Order_Group__r.Name} {!Digital_Product_Requirement__c.ModificationOrderLineItem__r.Order_Group__r.Name}" collapsible="false" columns="1">
<apex:repeat value="{!SmrryFlds}" var="SFlds">                  
<apex:outputText value="UDAC Name: {!SFlds}" escape="false"/>
</apex:repeat>
</apex:pageBlockSection>
</apex:pageblock>--->

<apex:repeat value="{!SmrryFlds}" var="SFlds">
<apex:pageblock id="Block">                
        <apex:pageBlockSection title="UDAC Name: {!SFlds}" id="Section" columns="1" collapsible="True">
            <apex:outputText value="{!SmrryFlds[SFlds]}" escape="false"/>
            <script> twistSection(document.getElementById('{!$Component.Block.Section}').getElementsByTagName('img')[0]) </script>
        </apex:pageBlockSection>                
</apex:pageblock>
</apex:repeat>

</apex:form>
</apex:page>