<apex:page controller="SalesRepTaskNotification" sidebar="false" >
    <apex:pagemessages ></apex:pagemessages>
    <apex:form >
           <apex:commandButton value="Send Task Notification to Sales Rep"  action="{!RunBatch}"/>
    </apex:form>
</apex:page>