<apex:page controller="strmCntrlr1">
<apex:stylesheet value="{!URLFOR($Resource.ExtJS, '/ExtJS/resources/css/ext-all-neptune.css')}" />
<apex:stylesheet value="{!URLFOR($Resource.StrmPrtlRsrcs, '/StrmPrtlRsrcs/css/portal.css')}"  />
<apex:includeScript value="{!URLFOR($Resource.ExtJS, '/ExtJS/ext-all.js')}" />
<apex:includeScript value="{!$Resource.examples}"  />
<apex:includeScript value="{!URLFOR($Resource.ExtJS, '/ExtJS/ext-theme-neptune.js')}" />
<apex:includeScript value="{!URLFOR($Resource.stormscripts, '/storm/app/view/MyViewport.js')}" />
<apex:includeScript value="{!URLFOR($Resource.stormscripts2, '/util1.js')}"/>
<apex:includeScript value="{!$Resource.three}"  />
<apex:includeScript value="{!$Resource.Detector}"  />
<apex:includeScript value="{!$Resource.THREEx}"  />
<apex:form >
    <div id="gridSpace"></div>
</apex:form>

<script type="text/javascript" >

Ext.require([
        'Ext.layout.container.*',
        'Ext.resizer.Splitter',
        'Ext.fx.target.Element',
        'Ext.fx.target.Component',
        'Ext.window.Window'
    ]);

Ext.ns("Ext.Storm"); //Defining a namespace is best practice in ExtJS
/* --- ON READY --- */
Ext.onReady(function(){

    /* --- handlers --- */
    function onToolClick(tool, e, eOpts) {
        console.log('onButtonAfterRender' );
    }

    function onShowToolsClick(tool, e, eOpts) {
        console.log('onShowToolsClick' );
    }

    /* --- end handlers --- */

    console.log('this: ', this );
    console.log('Ext_onReady');
    var divvy1=document.getElementById("gridSpace");
    var shortBogusMarkup = '';
    var bogusMarkup = '';
    console.log('divvy1: ', divvy1);

    j$ = jQuery.noConflict();
    j$(document).ready(function() {
        console.log('Document ready from jQuery!');
    });


    /* --- define AccountModel--- */
    Ext.define('AccountModel', {
        extend  : 'Ext.data.Model',
        fields  : [
            {name: 'Id', type: 'string'},
            {name: 'Name', type: 'string'},
            {name: 'Phone', type: 'string'},
            {name: 'Type', type: 'string'}
        ]
    }); // end --- define AccountModel

    var store = Ext.create('Ext.data.Store', {
        model: 'AccountModel',
        proxy: {
            type: 'memory',
            reader: {
                type : 'json'
            }
        }
    });

    /* --- define stormgrid1--- */
    Ext.define('stormgrid1', {
        extend: 'Ext.grid.Panel',
        //requires: ['panelsidetools'],
        alias: 'widget.stormgrid1',
        title: 'All Accounts Grid',
        hideHeaders: false,
        name: 'stormpanel',
        flex: 1,
        columnLines : true,
        singleSelect: true,
        selType: 'cellmodel',
        border: true,
        //height: 400,
        //width: 600,
        tools: [
            {
                xtype: 'tool',
                type: 'gear'
            }
        ],
        store: store,
        columns: [
            {
                text: 'Id',
                dataIndex: 'Id',
                flex: 0.3
            },
            {
                text: 'Account Name',
                dataIndex: 'Name',
                flex: 0.3
            },
            {
                text: 'Account Type',
                dataIndex: 'Type',
                flex: 0.3
            },
            {
                text: 'Phone',
                dataIndex: 'Phone',
                flex: 0.3
            }
        ],


        initComponent: function() {
            var me = this;
            console.log('stormgrid1');
            Ext.applyIf(me, {
                //console.log('applyIfStrmGrd');
            });

            me.callParent(arguments);
        }

    }); // end --- define stormgrid

    Ext.define('panelTest', {
        extend: 'Ext.panel.Panel',
        alias: 'widget.panelTest',

        requires: [
            'Ext.container.Container'
        ],

        title: 'PanelTest',

        layout: {
            type: 'border',
            padding: '0 5 5 5'
        },

        initComponent: function() {
            var me = this;

            Ext.applyIf(me, {
                items: [
                    {
                        xtype: 'container',
                        region: 'north',
                        height: 150,
                        layout: {
                            type: 'hbox',
                            align: 'stretch'
                        }
                    }
                ]
            });

            me.callParent(arguments);
        }

    });

    /* --- define Portlet ---- */
    Ext.define('Portlet', {
        extend: 'Ext.panel.Panel',
        alias: 'widget.portlet',
        layout: 'fit',
        anchor: '100%',
        frame: true,
        closable: true,
        collapsible: true,
        animCollapse: true,
        draggable: {
            moveOnDrag: false
        },
        cls: 'x-portlet',

        // Override Panel's default doClose to provide a custom fade out effect
        // when a portlet is removed from the portal
        doClose: function() {
            if (!this.closing) {
                this.closing = true;
                this.el.animate({
                    opacity: 0,
                    callback: function(){
                        var closeAction = this.closeAction;
                        this.closing = false;
                        this.fireEvent('close', this);
                        this[closeAction]();
                        if (closeAction == 'hide') {
                            this.el.setOpacity(1);
                        }
                    },
                    scope: this
                });
            }
        }
    }); // end PortalPanel
    
     /* --- define PortalColumn ---- */
        Ext.define('PortalColumn', {
            extend: 'Ext.container.Container',
            alias: 'widget.portalcolumn',

            requires: [
                'Ext.layout.container.Anchor',
                'Portlet'
            ],

            layout: 'anchor',
            defaultType: 'portlet',
            cls: 'x-portal-column'

            // This is a class so that it could be easily extended
            // if necessary to provide additional behavior.
        }); // end PortalColumn


        /* --- define PortalDropZone ---- */
        Ext.define('PortalDropZone', {
            extend: 'Ext.dd.DropTarget',

            constructor: function(portal, cfg) {
                this.portal = portal;
                Ext.dd.ScrollManager.register(portal.body);
                PortalDropZone.superclass.constructor.call(this, portal.body, cfg);
                portal.body.ddScrollConfig = this.ddScrollConfig;
            },

            ddScrollConfig: {
                vthresh: 50,
                hthresh: -1,
                animate: true,
                increment: 200
            },

            createEvent: function(dd, e, data, col, c, pos) {
                return {
                    portal: this.portal,
                    panel: data.panel,
                    columnIndex: col,
                    column: c,
                    position: pos,
                    data: data,
                    source: dd,
                    rawEvent: e,
                    status: this.dropAllowed
                };
            },

            notifyOver: function(dd, e, data) {
                var xy = e.getXY(),
                        portal = this.portal,
                        proxy = dd.proxy;

                // case column widths
                if (!this.grid) {
                    this.grid = this.getGrid();
                }

                // handle case scroll where scrollbars appear during drag
                var cw = portal.body.dom.clientWidth;
                if (!this.lastCW) {
                    // set initial client width
                    this.lastCW = cw;
                } else if (this.lastCW != cw) {
                    // client width has changed, so refresh layout & grid calcs
                    this.lastCW = cw;
                    //portal.doLayout();
                    this.grid = this.getGrid();
                }

                // determine column
                var colIndex = 0,
                        colRight = 0,
                        cols = this.grid.columnX,
                        len = cols.length,
                        cmatch = false;

                for (len; colIndex < len; colIndex++) {
                    colRight = cols[colIndex].x + cols[colIndex].w;
                    if (xy[0] < colRight) {
                        cmatch = true;
                        break;
                    }
                }
                // no match, fix last index
                if (!cmatch) {
                    colIndex--;
                }

                // find insert position
                var overPortlet, pos = 0,
                        h = 0,
                        match = false,
                        overColumn = portal.items.getAt(colIndex),
                        portlets = overColumn.items.items,
                        overSelf = false;

                len = portlets.length;

                for (len; pos < len; pos++) {
                    overPortlet = portlets[pos];
                    h = overPortlet.el.getHeight();
                    if (h === 0) {
                        overSelf = true;
                    } else if ((overPortlet.el.getY() + (h / 2)) > xy[1]) {
                        match = true;
                        break;
                    }
                }

                pos = (match && overPortlet ? pos : overColumn.items.getCount()) + (overSelf ? -1 : 0);
                var overEvent = this.createEvent(dd, e, data, colIndex, overColumn, pos);

                if (portal.fireEvent('validatedrop', overEvent) !== false && portal.fireEvent('beforedragover', overEvent) !== false) {

                    // make sure proxy width is fluid in different width columns
                    proxy.getProxy().setWidth('auto');
                    if (overPortlet) {
                        dd.panelProxy.moveProxy(overPortlet.el.dom.parentNode, match ? overPortlet.el.dom : null);
                    } else {
                        dd.panelProxy.moveProxy(overColumn.el.dom, null);
                    }

                    this.lastPos = {
                        c: overColumn,
                        col: colIndex,
                        p: overSelf || (match && overPortlet) ? pos : false
                    };
                    this.scrollPos = portal.body.getScroll();

                    portal.fireEvent('dragover', overEvent);
                    return overEvent.status;
                } else {
                    return overEvent.status;
                }

            },

            notifyOut: function() {
                delete this.grid;
            },

            notifyDrop: function(dd, e, data) {
                delete this.grid;
                if (!this.lastPos) {
                    return;
                }
                var c = this.lastPos.c,
                        col = this.lastPos.col,
                        pos = this.lastPos.p,
                        panel = dd.panel,
                        dropEvent = this.createEvent(dd, e, data, col, c, pos !== false ? pos : c.items.getCount());

                if (this.portal.fireEvent('validatedrop', dropEvent) !== false &&
                        this.portal.fireEvent('beforedrop', dropEvent) !== false) {

                    Ext.suspendLayouts();

                    // make sure panel is visible prior to inserting so that the layout doesn't ignore it
                    panel.el.dom.style.display = '';
                    dd.panelProxy.hide();
                    dd.proxy.hide();

                    if (pos !== false) {
                        c.insert(pos, panel);
                    } else {
                        c.add(panel);
                    }

                    Ext.resumeLayouts(true);

                    this.portal.fireEvent('drop', dropEvent);

                    // scroll position is lost on drop, fix it
                    var st = this.scrollPos.top;
                    if (st) {
                        var d = this.portal.body.dom;
                        setTimeout(function() {
                                    d.scrollTop = st;
                                },
                                10);
                    }
                }

                delete this.lastPos;
                return true;
            },

            // internal cache of body and column coords
            getGrid: function() {
                var box = this.portal.body.getBox();
                box.columnX = [];
                this.portal.items.each(function(c) {
                    box.columnX.push({
                        x: c.el.getX(),
                        w: c.el.getWidth()
                    });
                });
                return box;
            },

            // unregister the dropzone from ScrollManager
            unreg: function() {
                Ext.dd.ScrollManager.unregister(this.portal.body);
                PortalDropZone.superclass.unreg.call(this);
            }
        }); // end PortalDropZone


    /* --- define PortalPanel ---- */
    Ext.define('PortalPanel', {
        extend: 'Ext.panel.Panel',
        alias: 'widget.portalpanel',

        requires: [
            'Ext.layout.container.Column',

            'PortalDropZone',
            'PortalColumn'
        ],

        cls: 'x-portal',
        bodyCls: 'x-portal-body',
        defaultType: 'portalcolumn',
        autoScroll: true,

        manageHeight: false,

        initComponent : function() {
            var me = this;

            // Implement a Container beforeLayout call from the layout to this Container
            this.layout = {
                type : 'column'
            };
            this.callParent();

            this.addEvents({
                validatedrop: true,
                beforedragover: true,
                dragover: true,
                beforedrop: true,
                drop: true
            });
        },

        // Set columnWidth, and set first and last column classes to allow exact CSS targeting.
        beforeLayout: function() {
            var items = this.layout.getLayoutItems(),
                    len = items.length,
                    firstAndLast = ['x-portal-column-first', 'x-portal-column-last'],
                    i, item, last;

            for (i = 0; i < len; i++) {
                item = items[i];
                item.columnWidth = 1 / len;
                last = (i == len-1);

                if (!i) { // if (first)
                    if (last) {
                        item.addCls(firstAndLast);
                    } else {
                        item.addCls('x-portal-column-first');
                        item.removeCls('x-portal-column-last');
                    }
                } else if (last) {
                    item.addCls('x-portal-column-last');
                    item.removeCls('x-portal-column-first');
                } else {
                    item.removeCls(firstAndLast);
                }
            }

            return this.callParent(arguments);
        },

        // private
        initEvents : function(){
            this.callParent();
            this.dd = Ext.create('PortalDropZone', this, this.dropConfig);
        },

        // private
        beforeDestroy : function() {
            if (this.dd) {
                this.dd.unreg();
            }
            this.callParent();
        }
    }); // end PortalPanel





        /* --- define GridPortlet ---- */
        Ext.define('GridPortlet', {
            extend: 'Ext.grid.Panel',
            alias: 'widget.gridportlet',
            uses: [
                'Ext.data.ArrayStore'
            ],
            height: 300,
            myData: [
                ['3m Co',                               71.72, 0.02,  0.03,  '9/1 12:00am'],
                ['Alcoa Inc',                           29.01, 0.42,  1.47,  '9/1 12:00am'],
                ['Altria Group Inc',                    83.81, 0.28,  0.34,  '9/1 12:00am'],
                ['American Express Company',            52.55, 0.01,  0.02,  '9/1 12:00am'],
                ['American International Group, Inc.',  64.13, 0.31,  0.49,  '9/1 12:00am'],
                ['AT&T Inc.',                           31.61, -0.48, -1.54, '9/1 12:00am'],
                ['Boeing Co.',                          75.43, 0.53,  0.71,  '9/1 12:00am'],
                ['Caterpillar Inc.',                    67.27, 0.92,  1.39,  '9/1 12:00am'],
                ['Citigroup, Inc.',                     49.37, 0.02,  0.04,  '9/1 12:00am'],
                ['E.I. du Pont de Nemours and Company', 40.48, 0.51,  1.28,  '9/1 12:00am'],
                ['Exxon Mobil Corp',                    68.1,  -0.43, -0.64, '9/1 12:00am'],
                ['General Electric Company',            34.14, -0.08, -0.23, '9/1 12:00am'],
                ['General Motors Corporation',          30.27, 1.09,  3.74,  '9/1 12:00am'],
                ['Hewlett-Packard Co.',                 36.53, -0.03, -0.08, '9/1 12:00am'],
                ['Honeywell Intl Inc',                  38.77, 0.05,  0.13,  '9/1 12:00am'],
                ['Intel Corporation',                   19.88, 0.31,  1.58,  '9/1 12:00am'],
                ['International Business Machines',     81.41, 0.44,  0.54,  '9/1 12:00am'],
                ['Johnson & Johnson',                   64.72, 0.06,  0.09,  '9/1 12:00am'],
                ['JP Morgan & Chase & Co',              45.73, 0.07,  0.15,  '9/1 12:00am'],
                ['McDonald\'s Corporation',             36.76, 0.86,  2.40,  '9/1 12:00am'],
                ['Merck & Co., Inc.',                   40.96, 0.41,  1.01,  '9/1 12:00am'],
                ['Microsoft Corporation',               25.84, 0.14,  0.54,  '9/1 12:00am'],
                ['Pfizer Inc',                          27.96, 0.4,   1.45,  '9/1 12:00am'],
                ['The Coca-Cola Company',               45.07, 0.26,  0.58,  '9/1 12:00am'],
                ['The Home Depot, Inc.',                34.64, 0.35,  1.02,  '9/1 12:00am'],
                ['The Procter & Gamble Company',        61.91, 0.01,  0.02,  '9/1 12:00am'],
                ['United Technologies Corporation',     63.26, 0.55,  0.88,  '9/1 12:00am'],
                ['Verizon Communications',              35.57, 0.39,  1.11,  '9/1 12:00am'],
                ['Wal-Mart Stores, Inc.',               45.45, 0.73,  1.63,  '9/1 12:00am']
            ],

            /**
             * Custom function used for column renderer
             * @param {Object} val
             */
            change: function(val) {
                if (val > 0) {
                    return '<span style="color:green;">' + val + '</span>';
                } else if (val < 0) {
                    return '<span style="color:red;">' + val + '</span>';
                }
                return val;
            },

            /**
             * Custom function used for column renderer
             * @param {Object} val
             */
            pctChange: function(val) {
                if (val > 0) {
                    return '<span style="color:green;">' + val + '%</span>';
                } else if (val < 0) {
                    return '<span style="color:red;">' + val + '%</span>';
                }
                return val;
            },

            initComponent: function(){

                var store = Ext.create('Ext.data.ArrayStore', {
                    fields: [
                        {name: 'company'},
                        {name: 'change',     type: 'float'},
                        {name: 'pctChange',  type: 'float'}
                    ],
                    data: this.myData
                });

                Ext.apply(this, {
                    //height: 300,
                    height: this.height,
                    store: store,
                    stripeRows: true,
                    columnLines: true,
                    columns: [{
                        id       :'company',
                        text   : 'Company',
                        //width: 120,
                        flex: 1,
                        sortable : true,
                        dataIndex: 'company'
                    },{
                        text   : 'Change',
                        width    : 75,
                        sortable : true,
                        renderer : this.change,
                        dataIndex: 'change'
                    },{
                        text   : '% Change',
                        width    : 75,
                        sortable : true,
                        renderer : this.pctChange,
                        dataIndex: 'pctChange'
                    }]
                });

                this.callParent(arguments);
            }
        }); // end GridPortlet


        /* --- define ChartPortlet ---- */
        Ext.define('ChartPortlet', {

            extend: 'Ext.panel.Panel',
            alias: 'widget.chartportlet',

            requires: [
                'Ext.data.JsonStore',
                'Ext.chart.theme.Base',
                'Ext.chart.series.Series',
                'Ext.chart.series.Line',
                'Ext.chart.axis.Numeric'
            ],

            generateData: function(){
                var data = [{
                            name: 0,
                            djia: 10000,
                            sp500: 1100
                        }],
                        i;
                for (i = 1; i < 50; i++) {
                    data.push({
                        name: i,
                        sp500: data[i - 1].sp500 + ((Math.floor(Math.random() * 2) % 2) ? -1 : 1) * Math.floor(Math.random() * 7),
                        djia: data[i - 1].djia + ((Math.floor(Math.random() * 2) % 2) ? -1 : 1) * Math.floor(Math.random() * 7)
                    });
                }
                return data;
            },

            initComponent: function(){

                Ext.apply(this, {
                    layout: 'fit',
                    height: 300,
                    items: {
                        xtype: 'chart',
                        animate: false,
                        shadow: false,
                        store: Ext.create('Ext.data.JsonStore', {
                            fields: ['name', 'sp500', 'djia'],
                            data: this.generateData()
                        }),
                        legend: {
                            position: 'bottom'
                        },
                        axes: [{
                            type: 'Numeric',
                            position: 'left',
                            fields: ['djia'],
                            title: 'Dow Jones Average',
                            label: {
                                font: '11px Arial'
                            }
                        }, {
                            type: 'Numeric',
                            position: 'right',
                            grid: false,
                            fields: ['sp500'],
                            title: 'S&P 500',
                            label: {
                                font: '11px Arial'
                            }
                        }],
                        series: [{
                            type: 'line',
                            lineWidth: 1,
                            showMarkers: false,
                            fill: true,
                            axis: 'left',
                            xField: 'name',
                            yField: 'djia',
                            style: {
                                'stroke-width': 1,
                                stroke: 'rgb(148, 174, 10)'

                            }
                        }, {
                            type: 'line',
                            lineWidth: 1,
                            showMarkers: false,
                            axis: 'right',
                            xField: 'name',
                            yField: 'sp500',
                            style: {
                                'stroke-width': 1,
                                stroke: 'rgb(17, 95, 166)'

                            }
                        }]
                    }
                });

                this.callParent(arguments);
            }
        });  // end ChartPortlet

        /* --- define portal ---- */
        Ext.define('portal', {
            extend: 'Ext.panel.Panel',
            requires: [
                'Ext.container.Container'
            ],
            alias: 'widget.portal',

            getTools: function(){
                return [{
                    xtype: 'tool',
                    type: 'gear',
                    handler: function(e, target, header, tool){
                        var portlet = header.ownerCt;
                        portlet.setLoading('Loading...');
                        Ext.defer(function() {
                            portlet.setLoading(false);
                        }, 2000);
                    }
                }];
            },

            initComponent: function(){
                var content = '<div class="portlet-content">'+Ext.example.shortBogusMarkup+'</div>';
                console.log('content: ',  Ext.example.shortBogusMarkup);
                Ext.apply(this, {
                    id: 'app-viewport',
                    border: true,
                    layout: {
                        type: 'border',
                        padding: '0 5 5 5'
                    },
                    items: [{
                        id: 'app-header',
                        xtype: 'box',
                        region: 'north',
                        //style: {borderColor:'#FF0000', borderStyle:'solid', borderWidth:'2px'},
                        height: 40,
                        html: 'Ext.Portal'
                    },{
                        xtype: 'container',
                        region: 'center',
                        layout: 'border',
                        //style: {borderColor:'#0000FF', borderStyle:'solid', borderWidth:'5px'},
                        items: [{
                            id: 'app-options',
                            title: 'Options',
                            region: 'west',
                            //style: {borderColor:'#FF00FF', borderStyle:'solid', borderWidth:'3px'},
                            animCollapse: true,
                            width: 200,
                            minWidth: 150,
                            maxWidth: 400,
                            split: true,
                            collapsible: true,
                            layout:{
                                type: 'accordion',
                                animate: true
                            },
                            items: [{
                                html: content,
                                title:'Navigation',
                                autoScroll: true,
                                border: false,
                                iconCls: 'nav'
                            },{
                                title:'Settings',
                                html: content,
                                border: false,
                                autoScroll: true,
                                iconCls: 'settings'
                            }]
                        },{
                            id: 'app-portal',
                            xtype: 'portalpanel',
                            region: 'center',
                            items: [{
                                id: 'col-1',
                                items: [{
                                    id: 'portlet-1',
                                    title: 'Grid Portlet',
                                    tools: this.getTools(),
                                    items: Ext.create('GridPortlet'),
                                    listeners: {
                                        'close': Ext.bind(this.onPortletClose, this)
                                    }
                                },{
                                    id: 'portlet-2',
                                    title: 'Portlet 2',
                                    tools: this.getTools(),
                                    html: content,
                                    listeners: {
                                        'close': Ext.bind(this.onPortletClose, this)
                                    }
                                }]
                            },{
                                id: 'col-2',
                                items: [{
                                    id: 'portlet-3',
                                    title: 'Portlet 3',
                                    tools: this.getTools(),
                                    html: content,
                                    listeners: {
                                        'close': Ext.bind(this.onPortletClose, this)
                                    }
                                }]
                            },{
                                id: 'col-3',
                                items: [{
                                    id: 'portlet-4',
                                    title: 'Stock Portlet',
                                    tools: this.getTools(),
                                    items:  Ext.create('ChartPortlet'),
                                    listeners: {
                                        'close': Ext.bind(this.onPortletClose, this)
                                    }
                                }]
                            }] // end items app-inner
                        }] // end items app-outer
                    }] // end items app-portal
                }); // end Ext.define portal

                this.callParent(arguments);
            }, // end initComponent portal

            onPortletClose: function(portlet) {
                //this.showMsg('"' + portlet.title + '" was removed');
            }

        }); // end Ext.define portal

        /* ==================================GUI=================================== */


    /* --- create tab panel ---- */
     var p = Ext.create('Ext.panel.Panel', {
        width: 1100,
        height: 800,
        //renderTo: document.getElementById("gridSpace"),
        //frame: true,
        layout: {
            type: 'fit'
            //padding: '0 5 5 5' // pad the layout from the window edges
        },

        items: [{
            xtype: 'portal'
        }]
    }); // end --- create tab panel
    
    
    var theViewport = Ext.create('Ext.container.Viewport', {
    layout: 'fit',
    items: p
 });   
    

}) // end ---> Ext.Ready
</script>
</apex:page>