<apex:page standardController="Account" sidebar="false" extensions="TBCcBillingTransferController" id="pg">
 <apex:includeScript value="{!URLFOR($Resource.jqueryui18, '/jqueryui18/js/jquery-1.7.1.min.js')}"/>
  <style>

#overlay {
background-color: #fbfbfb;
height:100%;
opacity:0.65;
width:100%;
margin-top:50px;
}
.CreditNotePopup{
    background-color: #f8f8f8;
    z-index: 9999;
    left: 50%;
    padding:10px;
    position: absolute;
    /* These are the 3 css properties you will need to change so the popup 
    displays in the center of the screen. First set the width. Then set 
    margin-left to negative half of what the width is. You can add 
    the height property for a fixed size pop up if you want.*/
    width: 500px;
    margin-left: -250px;
    top:100px;
    border-radius:15px;   
   
}
.popupBackground{
    background-color:black;
    opacity: 0.20;
    filter: alpha(opacity = 20);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
}

  </style>
 <apex:form id="frm"> 
<apex:outputPanel id="pgmsg">
<apex:pageMessages id="errMsg"></apex:pageMessages>
</apex:outputPanel>
        <apex:actionFunction id="fncname" action="{!CheckSubSequentDate}" name="CheckSubsequentDate" reRender="pgblk" status="counterStatus">
            <apex:param name="OldValue" value="" assignTo="{!CheckBoolForInvice}" />
            <apex:param name="selecteddate" value="" assignTo="{!selectedDate}" />
            <apex:param name="oliIdIn" value="" assignTo="{!OLIIdforInvoice}" />
        </apex:actionFunction>
        <apex:actionFunction id="validate" action="{!validate}" name="validate" reRender="frm,pgmsg,errMsg,pbutton,scnPanel,creditNotePopUpId" status="counterStatus">
            <apex:param name="isValidate" value="" assignTo="{!isValidate}" />
        </apex:actionFunction> 
        <apex:actionFunction id="goToPage4" action="{!goToPage4}" name="goToPage4" />                                   
        <apex:actionstatus id="counterStatus">
            <apex:facet name="start">
                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;">
                    <div class="waitingHolder" style="width: 91px;">
                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                        <span class="waitingDescription">Loading...</span>
                    </div>
                </div>
            </apex:facet>
        </apex:actionstatus>
        <apex:pageBlock id="pgblk"  >
        <!--  <div id="{!divId}"> -->

            <div style="float:right;margin-right:37px">          
                <apex:pageBlockButtons location="top" id="pbutton">
                    <apex:commandButton value="Previous" disabled="{!!enableStep1}" action="{!backToScreen2}" />
                    <apex:commandButton value="Validate" disabled="{!showInstructions}" onClick="validate(true);return false;" reRender="frm" />
                </apex:pageBlockButtons>
            </div>
           <apex:outputPanel id="messagePanel" rendered="{!showInstructions}">
            <apex:pageMessage summary="Instructions:" severity="info" strength="3">
            <div><br/>
            <b style="font-size:16px;font-style:italic">You need to complete all the steps which is given below, otherwise billing transfer process will be partial. And If you get any error during the process then you must need restore the steps which you have performed.  </b> <br/><br/>
                <b><i>Note:</i>Step 1 to Step 3 is needed only when order line items does have Sales Credit Notes as recurring CS Claim. </b><br/><br/>
                
                <b>Financial Force Transaction Steps</b><br/><br/>
                <b style="color:crimson;font-sixe:13px'">Step 1. Update Order line Items with Billing Transfer Information.</b> <br/>
                
                Step 2.  It will offset the recurring CS Claim Sales credit notes.<br/>
                Step 3.  It will create new CS Claim sales credit notes.<br/>
                Step 4.  It will create invoices for offsetting the recurring sales credit notes.<br/>
                Step 5.  It will create invoices for selected transfer change.<br/>
                Step 6.  It will create Sales Credit Note to offset the existing invoices<br/>
                Step 7.  It will update existing invoices for offsetting the recurring sales credit notes.<br/><br/>
            </div>
            </apex:pageMessage>
           <apex:outputPanel id="steppanel">
               <table cellpadding="0" celpsacing="0" width="70%" style="margin:0px auto">
               <tr>
               <td style="text-align:center;width:14%"><apex:commandButton value="Step1" title="Update Order Line Items" disabled="{!!enableStep1}" action="{!updateOLiInfoStep1}" reRender="frm,messagePanel,steppanel" style="height:30px;padding:6px 14px;" status="counterStatus"/></td>
               <td style="text-align:center;width:14%"><apex:commandButton action="{!setOffSetTrueOnCSCLaimStep2}" reRender="frm,messagePanel,steppanel" disabled="{!!enableStep2}" status="counterStatus" value="Step2" title="Step2" style="height:30px;padding:6px 14px;"/></td>
               <td style="text-align:center;width:14%"><apex:commandButton action="{!InsertSCNForCSClaimStep3}" reRender="frm,messagePanel,steppanel" disabled="{!!enableStep3}"   status="counterStatus" value="Step3" title="Step3" style="height:30px;padding:6px 14px;"/></td>
               <td style="text-align:center;width:14%"><apex:commandButton action="{!InsertInvoiceForCSClaimStep4}" reRender="frm,messagePanel,steppanel" disabled="{!!enableStep4}" status="counterStatus" value="Step4" title="Step4" style="height:30px;padding:6px 14px;"/></td>
               <td style="text-align:center;width:14%"><apex:commandButton action="{!InsertNewInvoiceStep5}" reRender="frm,messagePanel,steppanel" disabled="{!!enableStep5}" status="counterStatus" value="Step5" title="Step5" style="height:30px;padding:6px 14px;"/></td>
               <td style="text-align:center;width:14%"><apex:commandButton action="{!InsertSCNToOffsetStep6}" reRender="frm,messagePanel,steppanel" disabled="{!!enableStep6}" status="counterStatus" value="Step6" title="Step6" style="height:30px;padding:6px 14px;"/></td>
               <td style="text-align:center;width:14%"><apex:commandButton action="{!SetOffsetOnIvoicesStep7}" value="Step7" disabled="{!!enableStep7}" title="Step7" reRender="frm,messagePanel,steppanel" status="counterStatus" style="height:30px;padding:6px 14px;" oncomplete="goToPage4();"/></td>
              <!-- <td style="text-align:center;width:14%"><apex:commandButton action="{!updateOLiInfoStep1_restore}" reRender="frm,messagePanel,steppanel" status="counterStatus" value="Restore" title="Step2" style="height:30px;padding:6px 14px;"/></td>
              -->
               </tr>
               </table>
            </apex:outputPanel>

            </apex:outputPanel>
                <apex:outputPanel >
                    <apex:outputLabel style="color:green;font-sixe:13px'" value="{!strOLINumbersForThirdScreen}" /> <br /> <br />
                </apex:outputPanel> 
                 <apex:outputPanel id="InvoicePanel" rendered="{!IF(NOT(ISNULL(SalesInvoiceLineItemWrapperList)) && SalesInvoiceLineItemWrapperList.size>0, TRUE, FALSE)}">
                    <apex:pageBlockTable value="{!SalesInvoiceLineItemWrapperList}" var="sWrapper">
                       <apex:column headerValue="Item #" value="{!sWrapper.salesinvoicelineitem.Order_Line_Item__r.Name}" />
                        <apex:column headerValue="Product Name" value="{!sWrapper.salesinvoicelineitem.Order_Line_Item__r.ProductCode__c}" />
                        <apex:column headerValue="SIN #" value="{!sWrapper.salesinvoicelineitem.c2g__Invoice__r.Name}" />
                            <apex:column headerValue="Invoice Date" headerClass="centercol" style="text-align:center;">
                                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                    <apex:param value="{!sWrapper.salesinvoicelineitem.c2g__Invoice__r.c2g__InvoiceDate__c}"/> 
                                </apex:outputText>
                                </apex:column>
                        <apex:column headerValue="Directory Edition" value="{!sWrapper.salesinvoicelineitem.Directory_Edition__r.name}" />                           
                        <apex:column headerValue="Line Item Amount" value="{!sWrapper.salesinvoicelineitem.c2g__NetValue__c}" />                         
                        <apex:column headerValue="Invoice Amount" value="{!sWrapper.salesinvoicelineitem.c2g__Invoice__r.c2g__NetTotal__c}" />
                        <apex:column headerValue="Account" value="{!sWrapper.salesinvoicelineitem.c2g__Invoice__r.c2g__Account__r.name}" />
                        <apex:column headerValue="Bill Frequency" value="{!sWrapper.salesinvoicelineitem.Billing_Frequency__c }" />
                        <apex:column headerValue="Status" value="{!sWrapper.salesinvoicelineitem.c2g__Invoice__r.c2g__InvoiceStatus__c}" />
                        
                        <apex:column rendered="{!sWrapper.bRetroFuture}">
                            <apex:outputPanel rendered="{!sWrapper.bRetroFuture}" >
                            &nbsp;&nbsp;
                            <apex:inputCheckbox id="cccheckbox" value="{!sWrapper.isTransfer}" onchange="CheckSubsequentDate(this.checked,'{!sWrapper.salesinvoicelineitem.c2g__Invoice__r.c2g__InvoiceDate__c}','{!sWrapper.salesinvoicelineitem.Order_Line_Item__c}')" rendered="{!IF(sWrapper.salesinvoicelineitem.c2g__Invoice__r.Name!=null,true,false)}" disabled="{!isFrequencyChangeSelection}" />
                            <apex:facet name="header">
                            <apex:outputPanel layout="block" >Transfer &nbsp;<apex:inputCheckbox id="selectAllchkbox" onChange="checkAll(this)" rendered="{!IF(SalesInvoiceLineItemWrapperList.size > 0, TRUE, FALSE)}" disabled="{!isFrequencyChangeSelection}"/>
                            </apex:outputPanel>
                           </apex:facet> 
                           </apex:outputPanel>
                        </apex:column>                  

                    </apex:pageBlockTable>
             </apex:outputPanel>
             <!--          
            <apex:outputPanel id="InvoicePanel" rendered="{!IF(SalesInvoiceWrapperListNew.size > 0, TRUE, FALSE)}">
            <apex:repeat value="{!SalesInvoiceWrapperListNew}" var="pWrapper">

                <div style="background-color:#8a9ebe;height:25px;margin-top:6px;">
                    <div style="padding-top: 5px;margin-left: 6px;">
                        <h1 style="font-weight:bold;font-style:italic;color:white"> {!pWrapper.editionName}</h1>
                    </div>


                </div>
                <apex:pageBlockTable value="{!pWrapper.subSalesWrapper}" var="sWrapper">
                    <apex:column headerValue="Item #" value="{!sWrapper.oliForSalesInvoice.Name}" />
                    <apex:column headerValue="Product Name" value="{!sWrapper.oliForSalesInvoice.ProductCode__c}" />
                    <apex:column headerValue="SIN #" value="{!sWrapper.SIName}" />
                        <apex:column headerValue="Invoice Date" headerClass="centercol" style="text-align:center;">
                            <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                                <apex:param value="{!sWrapper.invoiceDte}"/> 
                            </apex:outputText>
                            </apex:column>   
                     <apex:column headerValue="Line Item Amount" value="{!sWrapper.invoiceLineItemAmount}" />                         
                    <apex:column headerValue="Invoice Amount" value="{!sWrapper.invoiceAmount}" />
                    <apex:column headerValue="Account" value="{!sWrapper.SIAccountName}" />
                    <apex:column headerValue="Bill Frequency" value="{!sWrapper.frequency }" />
                    <apex:column headerValue="Status" value="{!sWrapper.status}" />
                    
                    <apex:column >
                        &nbsp;&nbsp;
                        <apex:inputCheckbox id="cccheckbox" value="{!sWrapper.isTransfer}" onchange="CheckSubsequentDate(this.checked,'{!sWrapper.invoiceDte}','{!sWrapper.oliForSalesInvoice.id}')"  rendered="{!IF(sWrapper.SIName!=null,true,false)}"/>
                        <apex:facet name="header">
                        <apex:outputPanel layout="block">Transfer &nbsp;<apex:inputCheckbox id="selectAllchkbox" onChange="checkAll(this)"   rendered="{!IF(SalesInvoiceWrapperListNew.size > 0, TRUE, FALSE)}"/>
                        </apex:outputPanel>
                       </apex:facet>
                    </apex:column>                  

                </apex:pageBlockTable>

            </apex:repeat>
     </apex:outputPanel> 
          <apex:outputPanel id="OliPanel" rendered="{!IF(OliWrapperListFinal.size > 0, TRUE, FALSE)}">
                <apex:inputCheckbox id="selectAllchkbox1" onChange="checkAll1(this)" />
                <div style="margin-top: -17px;margin-left: 20px;">
                    <label style="font-weight:bold;font-style:italic;">
                        Select All</label>
                </div>            
                <apex:repeat value="{!OliWrapperListFinal}" var="pWrapper">

                    <div style="background-color:#8a9ebe;height:25px;margin-top:6px;">
                        <div style="padding-top: 5px;margin-left: 6px;">
                            <h1 style="font-weight:bold;font-style:italic;color:white"> {!pWrapper.DECanvassName}</h1>
                        </div>


                    </div>
                    <apex:pageBlockTable value="{!pWrapper.lstOLI}" var="sWrapper">
                        <apex:column headerValue="Select">
                            &nbsp;&nbsp;
                                <apex:inputCheckbox id="cccheckbox" value="{!sWrapper.isChecked}" />
                        </apex:column>
                        <apex:column headerValue="Product Name" value="{!sWrapper.oli.ProductCode__c}" />
                        <apex:column headerValue="Item Number" value="{!sWrapper.oli.name}" />
                        <apex:column headerValue="Go Live Date" value="{!sWrapper.oli.Talus_Go_Live_Date__c}"/>
                        <apex:column headerValue="Bundle Indicator" value="{!sWrapper.oli.Package_ID__c}" />
                        <apex:column headerValue="Heading" value="{!sWrapper.oli.Directory_Heading__r.name}" />

                        <apex:column headerValue="Status" value="{!sWrapper.oli.Status__c}" />
                        <apex:column headerValue="Billing Partner" value="{!sWrapper.oli.Billing_Partner__c}" />
                        <apex:column headerValue="Payment Method" value="{!sWrapper.oli.Payment_Method__c}" />
                        <apex:column headerValue="Bill Frequency" value="{!sWrapper.oli.Billing_Frequency__c }" />
                        <apex:column headerValue="Product Amount" value="{!sWrapper.oli.UnitPrice__c}" />

                    </apex:pageBlockTable>
                </apex:repeat>
            </apex:outputPanel>   -->             
          <!--  </div> -->
        </apex:pageBlock>        
</apex:form> 
<script>
var counter=0;
</script>
    <script>
function checkAll(cb) {
    var inputElem = document.getElementsByTagName("input");
    var iCount = 0;
    for (var i = 0; i < inputElem.length; i++) {

        if (cb.checked) {
            if (inputElem[i].id.indexOf("cccheckbox") != -1) {
                inputElem[i].checked = cb.checked;
                iCount++;
            }
        }

        else {
            if (inputElem[i].id.indexOf("cccheckbox") != -1) {
                inputElem[i].checked = cb.checked;
                iCount--;
            }
        }

    }
   // alert('$$$$iCount '+counter);
    if(counter==0)
    {
        if(iCount>0)
            selectAll(cb.checked);
        else
            selectAll(false); 
    }   
   
}
function checkAll1(cb) {
    var inputElem = document.getElementsByTagName("input");
    var iCount = 0;
    for (var i = 0; i < inputElem.length; i++) {

        if (cb.checked) {
            if (inputElem[i].id.indexOf("olicheckbox") != -1) {
                inputElem[i].checked = cb.checked;
                iCount++;
            }
        }

        else {
            if (inputElem[i].id.indexOf("olicheckbox") != -1) {
                inputElem[i].checked = cb.checked;
                iCount--;
            }
        }

    }

}
</script>
</apex:page>