<apex:page id="TAndCPage" controller="TermsAndConditionsController">
    
    
<!-- JQuery Files -->
  <apex:includeScript value="{!URLFOR($Resource.jQueryDialog, 'jquery-1.3.2.min.js')}" />
  <apex:includeScript value="{!URLFOR($Resource.jQueryDialog, 'jquery-ui-1.7.2.custom.min.js')}" />
  <apex:includeScript value="{!URLFOR($Resource.jQueryDialog, 'jquery.bgiframe.min.js')}" />
  <apex:includeScript value="{!($Resource.jQueryBlockUI)}" />
    

  
<apex:form id="theForm">
    <apex:actionFunction name="ok" action="{!ok}" rerender="messages" />
    <apex:actionFunction name="cancel" action="{!cancel}"/>


<script type="text/javascript">
     
       
    $(document).ready(function() { 
 
       //alert('hello');
        $('#TAndCPage\\:theForm\\:ok').click(function() { 
            // update the block message 
            ok();
            $.unblockUI();
            return false; 
        }); 
 
        $('#TAndCPage\\:theForm\\:cancel').click(function() { 
            cancel();
            $.unblockUI(); 
            return false; 
        }); 
 
        $.blockUI({ message: $('#question'), css: { width: '850px', padding: '5px',top: '40%', left: '10%'} }); 
    }); 
</script> 

 

    <apex:messages id="messages"/>
    
    <div id="question" style="display:none; cursor: default" align="center">
    
        {!portalCont.Name}
        <apex:OutputText value="{!bodyText}" escape="false"/> 
        
        <!--  "{!bodyText}" -->
        
        <apex:commandButton id="ok" value="ok" action="{!ok}" rendered="{!NOT(hasMessages)}"/>
        <apex:commandButton id="cancel" value="cancel" action="{!cancel}" />
    </div>
    </apex:form>
</apex:page>