<apex:page Standardcontroller="Directory__c" extensions="vertex_NationalRateCardController_v3" action="{!onLoad_Forpdf}" contentType="application/pdf#Local_PDF.pdf">
<head>  
    <style>
@page
{
    size:{!pdfsize} landscape;

}
</style>
</head>
<body>
<apex:include pageName="Vertex_NationalRateCardPage_v3_PDF"/>
</body>

</apex:page>